<template>
      <section id="team">
        <div class="col-md-12">
        <h5 class="section-title h1">LISTES DES  AGENCES</h5>
            <div class="row mb-4 mt-2">
                <div class="col-md-5 offset-3 ">
                <input type="search" class="form-control form-control-md" placeholder="Rechercher suivant la localisation de l'agence(ville,quartier,rue,etc...)" aria-controls="sampleTable">
                </div>
                <div class="col-md-4 col-sm-4">
                    <button class="btn btn-primary mr-5" type="button">Rechercher</button>
                    <router-link class="btn btn-secondary ml-4 " type="button" to="/ajoutAgence"><i class="fas fa-plus grey"></i> Ajouter une nouvelle agence</router-link>
                </div>
            </div>
        <div class="row ">
            <!-- ./Team member -->
            <div class="col-xs-12 col-sm-6 col-md-3" v-for="agence in agences" :key="agence.id">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-3">
                                    <p><img class=" img-fluid" src="../assets/a.png" alt="card image"></p>
                                    <h4 class="card-title">Agence {{ agence.agence.Nom }}</h4>
                                    <p class="card-text "><strong>Chef d'agence</strong>:&nbsp;{{ agence.responsable.Nom }} {{ agence.responsable.Prenom}}.</p>
                                    <p class="card-text "><strong>Numéro du chef</strong>:&nbsp;{{ agence.responsable.Telephone }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title text-center mb-4">Agence {{ agence.agence.Nom }}</h4>
                                    <div class="card-text">
                                        <div class="space">
                                            <p><span><strong>NUMERO DE L'AGENCE</strong></span>:&nbsp;{{ agence.agence.id }}</p>
                                            <p><span><strong>LOCALISATION</strong></span>:&nbsp;{{ agence.localisation.description }}</p>
                                            <p><span><strong>TELEPHONE</strong></span>:&nbsp;{{ agence.agence.Telephone}}</p>
                                            <p><span><strong>EMPLOYES</strong></span>:&nbsp;22</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-danger " type="button">Supprimer l'agence</button>
                                    <button class="btn btn-success ml-1" type="button">Modifier des infos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
</template>

<script>
    export default {
        data() {
            return {
                agences:[]
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        created(){
            axios.get('api/AgenceManagement')
            .then((response)=>{
                this.agences=response.data;
            })
        }
    }
</script>
<style lang="css" scoped>
.tile {
    background: #ccc!important;
}
#team{
    padding:0;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
margin-left: 0;
}
.space{
    margin-left: 30px;
    margin-right:30px
}


section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
</style>
