<template>
    <div class="tile">
            <h1 class="text-center mt-3 mb-2 green">AJOUTER UNE NOUVELLE AGENCE</h1>
                <h2 class="text-center mt-5"><strong> Localisation de l'agence</strong></h2>
                  <div class="row mb-4">
                        <div class="col-md-4">
                            <label>Continent</label>
                            <select class="form-control" id="continentListe"  @change="paysliste()" >
                                <option value="">Sélectionnez le continent</option>
                                <option  v-for="v in continentlist" :key="v.id" :value="v.id">{{ v.nom }}</option>
                            </select>

                        </div>
                        <div class="col-md-4">
                            <label>Pays</label>
                            <select class="form-control" id="paysListe"  @change="regionliste()">
                                <option value="">Sélectionnez le pays</option>
                                <option  v-for="v in payslist" :key="v.id" :value="v.id">{{ v.nom }}</option>
                            </select>

                        </div>
                        <div class="col-md-4">
                            <label>Région</label>
                            <select class="form-control" id="regionListe"  @change="villeliste()">
                                <option value="">Sélectionnez la region</option>
                                <option  v-for="v in regionlist" :key="v.id" :value="v.id">{{ v.nom }}</option>
                            </select>

                        </div>
                        <div class="col-md-4">
                        <label>Ville</label>
                        <select class="form-control" id="villeListe"  v-model="Ajoutagence.localisationAgence.Ville">
                                <option value="">Sélectionnez la ville</option>
                                <option  v-for="v in villelist" :key="v.id" :value="v.id">{{ v.description }}</option>
                            </select>
                        </div>

                  </div>
                <h2 class="text-center mt-4 mb-5"><strong> Informations sur l'agence</strong></h2>
                    <div class="row mb-4">
                        <div class="col-md-4 offset-1 mr-4">
                            <div class="row mb-3">
                                <label for="nom">Nom de l'agence</label>
                                    <input class="form-control" type="text" v-model="Ajoutagence.nomAgence" id="nom"
                            :class="{ 'is-invalid':Ajoutagence.errors.has('NomAgence') }">
                             <has-error :form="Ajoutagence" field=" NomAgence"></has-error>
                            </div>
                        </div>
                        <div class="col-md-4 ml-4 ">
                            <div class="row mb-3">
                                <label for="tel">Téléphone de la nouvelle agence</label>
                                    <input class="form-control" type="text" v-model="Ajoutagence.telAgence" id="tel"
                            :class="{ 'is-invalid':Ajoutagence.errors.has('telAgence') }">
                             <has-error :form="Ajoutagence" field=" telAgence"></has-error>
                            </div>
                        </div>
                    </div>

                  <h2 class="text-center mb-3"><strong>Chef d'agence</strong></h2>
                  <p class="red"><strong>NB:Le chef d'agence doit impérativement être un employé de l'entreprise....
                      Si ce n'est pas le cas veuillez l'enregistrer comme tel d'abord</strong></p>
                        <div class="row mb-4 mt-2">
                            <div class="col-md-5 offset-3 ">
                            <input type="search" class="form-control" v-model="$root.$data.search" @keyup.enter="$root.chef()" placeholder="Numéro téléphone du nouveau chef d'agence.de préférence préfixé du code du pays">
                            </div>
                            <button class="btn btn-primary mr-5" type="button" @click="$root.chef()">Rechercher l'agent</button>
                        </div>

                    <div class="card mb-3" >
                        <div class="row ">
                            <div class="col-md-4 justify-content-center">
                            <img src="../assets/user.png" class="card-img img-chef" alt="...">
                            </div>
                            <div class="col-md-8">
                            <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label>Nom</label>
                                            <input class="form-control" type="text" disabled v-model="Ajoutagence.chefAgence.Nom"
                                            :class="{ 'is-invalid':Ajoutagence.errors.has('chefAgence.Nom') }">
                                            <has-error :form=" Ajoutagence" field=" chefAgence.Nom"></has-error>
                                        </div>
                                        <div class="col-md-5">
                                            <label>Prénom(s)</label>
                                            <input class="form-control" type="text" disabled v-model="Ajoutagence.chefAgence.Prenom"
                                            :class="{ 'is-invalid':Ajoutagence.errors.has('chefAgence.Prenom') }">
                                            <has-error :form=" Ajoutagence" field=" chefAgence.Prenom"></has-error>
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-md-5">
                                            <label>Téléphone</label>
                                            <input class="form-control" type="text" disabled v-model="Ajoutagence.chefAgence.Telephone"
                                            :class="{ 'is-invalid':Ajoutagence.errors.has('chefAgence.Telephone') }">
                                            <has-error :form=" Ajoutagence" field=" chefAgence.Telephone"></has-error>
                                        </div>
                                        <div class="col-md-5">
                                            <label>Email</label>
                                            <input class="form-control" type="text" disabled v-model="Ajoutagence.chefAgence.Email"
                                            :class="{ 'is-invalid':Ajoutagence.errors.has('chefAgence.Email') }">
                                            <has-error :form=" Ajoutagence" field=" chefAgence.Email"></has-error>
                                        </div>
                                    </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class=" mt-4">
                    <div class="row ml-5">
                        <div class="col-md-3 offset-2">
                            <button class="btn btn-primary btn-lg btn-block" type="submit" @click.prevent="addAgency">Créer l'agence</button>
                        </div>
                        <div class="col-md-3 offset-1">
                            <button  class="btn btn-secondary btn-lg btn-block" @click.prevent="resetAll">Reinitialiser le formulaire</button>
                        </div>
                    </div>
                  </div>
              </div>
</template>

<script>
    export default {
        data(){
            return{

               continentlist:[],
                payslist:[],
                regionlist:[],
                villelist:[],

                Ajoutagence:new Form({
                    localisationAgence:{
                        Ville:'',
                    },
                    telAgence:'',
                    nomAgence:'',
                    chefAgence:{
                        Id:'',
                        Nom:'',
                        Prenom:'',
                        Telephone:'',
                        Email:''
                    },
                }),


            }
        },
        computed:{

        },

        methods:{
            chefAgence(){

            },
            paysliste(value){
              var e = document.getElementById("continentListe");
             this.value = e.options[e.selectedIndex].value;
             if(this.value){
                 axios.get('/api/continent/'+this.value)
                    .then((response)=>{
                        this.payslist=response.data
                    })
             }
        },
         regionliste(value){
              var e = document.getElementById("paysListe");
             this.value = e.options[e.selectedIndex].value;
             if(this.value){
                 axios.get('/api/pays/'+this.value)
                    .then((response)=>{
                        this.regionlist=response.data
                    })
             }
        },
        villeliste(value){
              var e = document.getElementById("regionListe");
             this.value = e.options[e.selectedIndex].value;
             if(this.value){
                 axios.get('/api/region/'+this.value)
                    .then((response)=>{
                        this.villelist=response.data
                    })
             }
        },
            addAgency(){
                this.Ajoutagence.post('api/Agence')
                .then((response)=>{

                    if(response.data.dejaAgent){
                        Swal.fire("Erreur", "Vous ne pouvez pas prendre cet agent comme responsable...il l'est déjà", "error");
                    }else{
                        Swal.fire("Ajouté", "La création de l'agence est faite avec succès", "success"),
                    this.chefInfo='',
                        this.Ajoutagence.reset();
                    }

                })
                .catch(
                    ()=>{
                     Swal.fire("Erreur", "Une erreur s'est produite lors de l'enregistrement,veuillez reprendre s'il vous plait", "error");
                    }
                )
            },
            resetAll(){
                this.Ajoutagence.reset();
                chefInfo=''
            }

        },
        mounted() {

            console.log('Component mounted.')


        },
        created() {

            Fire.$on('searching',()=>{
                let query=this.$parent.search;
                if(query==""){
                    this.Ajoutagence.chefAgence={}
                    return;
                }else{
                    axios.get('api/findUser?q='+query)
                    .then((response)=>{
                            this.Ajoutagence.chefAgence=response.data
                    })
                    .catch(()=>{

                    })
                }
            })
            axios.get('/api/continent')
        .then((response)=>{
            this.continentlist=response.data
            //console.log(response)
        })
        },
    }


</script>
<style lang="css" scoped>
    .spacer  label{
        margin-bottom: 5px;
    }
    .img{
        width: 200px;
        height: 200px;
        margin-left: 350px;
    }
     .img-chef{
        width: 200px;
        height: 200px;
        margin-top: 30px;
        margin-bottom: 10px;;
        margin-left: 150px;
        margin-right: 0;
    }
    .spacer input{
        margin-bottom: 25px;
    }
    .mb-4 .col-md-4{
        margin-bottom: 1%
    }
</style>
