<template>
    <div>
        <div class="tile">
        <h2 class="text-center mt-4 mb-5"><strong> Ajouter une nouvelle permission</strong></h2>
        <div class="col-md-12">
            <div class="row mb-4">
                <div class="col-md-2" style="margin-left:20%;font-size:20px;">
                    <p class="mt-1">URI de la permission</p>
                </div>
                <div class="col-md-4 form-group">
                    <div class="row mb-3">
                        <input class="form-control" type="text" v-model.lazy="$v.permission.uri.$model"
                        :class="{'is-invalid':$v.permission.uri.$error, 'is-valid':!$v.permission.uri.$invalid}">
                        <div class="valid-feedback">Valide</div>
                        <div class="invalid-feedback">
                            <span v-if="!$v.permission.uri.required">Ce champ est obligatoire..veuillez le remplir s'il vous plait</span>
                            <span v-if="!$v.permission.uri.minLength">Ce champ doit avoir au moins {{ $v.permission.uri.$params.minLength.min }} caracteres</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row mb-4">
                <div class="col-md-3" style="margin-left:180px;font-size:20px;">
                    <p class="mt-1">Description de la permission</p>
                </div>
                <div class="col-md-4 form-group">
                    <div class="row mb-3">
                            <input class="form-control" type="text" v-model.lazy="$v.permission.description.$model"
                             :class="{'is-invalid':$v.permission.description.$error,'is-valid':!$v.permission.description.$invalid}">

                            <div class="valid-feedback">Valide</div>
                            <div class="invalid-feedback">
                                    <span v-if="!$v.permission.description.required">Ce champ est obligatoire..veuillez le remplir s'il vous plait</span>
                                    <span v-if="!$v.permission.description.minLength">Le telephone doit avoir au moins {{ $v.permission.description.$params.minLength.min }} caracteres</span>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ml-5 mt-5 ">
            <div class="col-md-4 offset-4" >
                <button class="btn btn-success btn-lg btn-block" @click="newPermission()">Ajouter la permission</button>
            </div>

        </div>

    </div>

    <div class="tile">
        <h2 class="text-center mt-4 mb-5"><strong> Ajouter un nouveau profil</strong></h2>
        <div class="col-md-12">
            <div class="row mb-4">
                <div class="col-md-2" style="margin-left:22%;font-size:20px;">
                    <p class="mt-1">Description du profil</p>
                </div>
                <div class="col-md-4 ">
                    <div class="row mb-3">
                            <input class="form-control" type="text" v-model.lazy="$v.profil.description.$model"
                            :class="{'is-invalid':$v.profil.description.$error,'is-valid':!$v.profil.description.$invalid}">
                             <div class="valid-feedback">Valide</div>
                            <div class="invalid-feedback">
                                    <span v-if="!$v.profil.description.required">Ce champ est obligatoire..veuillez le remplir s'il vous plait</span>
                                    <span v-if="!$v.profil.description.minLength">La description  doit avoir au moins {{ $v.profil.description.$params.minLength.min }} caracteres</span>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
             <h2 class="text-center">Permissions liées à ce profil</h2>

                <div class="funkyradio" >
                    <template v-if="!permissionsList.Length">
                            <div class="funkyradio-danger" v-for="permission in permissionsList" :key="permission.name">
                                <input type="checkbox" name="etiquette" :value="permission.name" :id="permission.name" v-model="profil.permissionsSelected" />
                                <label :for="permission.name">{{ permission.name }}</label>
                            </div>
                    </template>
                    <template v-else>
                        <div>
                            <p>Aucune permission n'est ajoute</p>
                        </div>
                    </template>


                </div>
        </div>
        <div class="row ml-5 mt-5">
            <div class="col-md-3 offset-4">
                <button class="btn btn-primary btn-lg btn-block" @click="addProfil()">Créer le profil</button>
            </div>

        </div>

    </div>
    <div class="tile">
        <div class="col-lg-12">
            <h3 class="text-center">Liste des divers profils et permissions</h3>
            <div class="bs-component">
              <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Profils">Profils</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Permissions">Permissions</a></li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="Profils">
                    <h2 class="text-center mt-3">liste des profils</h2>
                    <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Numéro</th>
                    <th>Description du profil</th>
                    <th>Nombre de permissions</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                </tbody>
              </table>
            </div>
                </div>
                <div class="tab-pane fade" id="Permissions">
                    <h2 class="text-center mt-3">liste des permissions</h2>
                    <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Numéro</th>
                    <th>URI</th>
                    <th>Description</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                </tbody>
              </table>
            </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    </div>
</template>

<script>
import { required, minLength,maxLength,email,numeric } from 'vuelidate/lib/validators'
    export default {
        data() {
            return {
                permission:{
                   uri:'',
                   description:''
                },
                profil:{
                    description:'',
                    permissionsSelected:[]
                },

                    permissionsList:[],

            }
        },
        validations:{
            permission:{
                uri:{
                    required,
                    minLength:minLength(4)
                },
                description:{
                    required,
                    minLength:minLength(4)
                }
            },
            profil:{
                description:{
                    required,
                     minLength:minLength(4)
                }
            }
        },
        methods:{
                allPermission:function(){
                    axios.get('api/Permission')
                    .then((response)=>{
                        this.permissionsList=response.data;

                    })
                },
                addProfil(){
                        axios.post('api/Profil',{profil:this.profil})
                        .then(()=>{
                            this.allPermission(),
                            Toast.fire({
                                icon: 'success',
                                title: 'Nouveau profil ajouté',
                            })
                        })
                },
            newPermission:function(){
               // console.log(this.permission);
                axios.post('api/Permission',{permission:this.permission})
                    .then(()=>{
                         this.allPermission(),
                        Toast.fire({
                            icon: 'success',
                            title: 'Permission ajouté',
                        })

                    })
            },

        },
        created(){
            this.allPermission();
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
<style lang="css" scoped>
.funkyradio div {
display: inline;
margin-right: 25px;
}

.funkyradio label {
  width: 30%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
color: black
}

.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
  color: green
}

.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}


.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}


.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}


</style>
