<template class="app-content">
   <div class="tile">
        <div>
        <div>
              <div class="jumbotron">
                <h1 class="display-3 text-center">AGENCE DE LOME</h1>
                <p>Telephone:</p>
              </div>
            </div>
                <div class="row mt-4">
                        <div class="col-md-3">
                            <div class="widget-small primary"><i class="icon fa fa-users fa-3x"></i>
                                <div class="info">
                                <h4>Employes</h4>
                                <p><b>5</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="widget-small info"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
                                <div class="info">
                                <h4>Points de retraits</h4>
                                <p><b>25</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="widget-small warning"><i class="icon fa fa-files-o fa-3x"></i>
                                <div class="info">
                                <h4>LISTES D'ENVOIS</h4>
                                <p><b>10</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="widget-small danger"><i class="icon fa fa-files-o fa-3x"></i>
                                <div class="info">
                                <h4>LISTE DE RECEPTION</h4>
                                <p><b>500</b></p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row mt-2">
                    <div class="box">
                        <h2 class="text-center">Points de retraits <i class=" ml-2 fas fa-list" style="float:right" title="liste des points de retraits"></i></h2>
                        <ul>
                            <li>
                                <span>1</span>List item One
                            </li>
                             <li>
                                <span>2</span>List item Two
                            </li>
                             <li>
                                <span>3</span>List item Three
                            </li>
                             <li>
                                <span>4</span>List item Four
                            </li>
                             <li>
                                <span>5</span>List item Five
                            </li>
                             <li>
                                <span>6</span>List item Six
                            </li>

                        </ul>
                    </div>
                    <div class=" list">
                        <ul>
                            <h4 class="text-center">les listes d'expédition en cours</h4>
                            <li>
                                <span class="number">1</span>
                                <span class="name">John</span>
                                <span class="destination">Kara</span>
                                <span class="points">95 colis</span>

                            </li>
                            <li>
                                <span class="number">2</span>
                                <span class="name">John</span>
                                 <span class="destination">Kara</span>
                                <span class="points">95 colis</span>

                            </li>
                            <li>
                                <span class="number">3</span>
                                <span class="name">John</span>
                                 <span class="destination">Kara</span>
                                <span class="points">95 colis</span>

                            </li>
                            <li>
                                <span class="number">4</span>
                                <span class="name">John</span>
                                <span class="destination">Kara</span>
                                <span class="points">95 colis</span>

                            </li>
                             <li>
                                <span class="number">5</span>
                                <span class="name">John</span>
                                <span class="destination">Kara</span>
                                <span class="points">95 colis</span>

                            </li>
                             <li>
                                <span class="number">6</span>
                                <span class="name">John</span>
                                 <span class="destination">Kara</span>
                                <span class="points">95 colis</span>

                            </li>
                             <li>
                                <span class="number">7</span>
                                <span class="name">John</span>
                                <span class="destination">Kara</span>
                                <span class="points">95 colis</span>

                            </li>
                        </ul>
                    </div>
                    <div class=" text-center col-md-3 list-group" style="margin-left:20px; margin-top:10px">
                        <a class="list-group-item list-group-item-action active disabled" href="#">Vous voulez...</a>
                        <router-link class="list-group-item list-group-item-action" to="ajout_point">Ajouter un point de retrait</router-link>
                        <router-link class="list-group-item list-group-item-action" to="tarif_table">Table des tarifs de l'agence</router-link>
                        <a class="list-group-item list-group-item-action" data-toggle="modal" type="button" data-target="#nouvelleListe">Créer une nouvelle liste d'expédition</a>
                        <router-link class="list-group-item list-group-item-action" to="ajoutEmploye">Enregistrer un(e) nouvel(le) employé(e)</router-link>
                        <a class="list-group-item list-group-item-action" href="#">Consulter la liste des employés</a>
                         <a class="list-group-item list-group-item-action" href="#">Consulter les listes de réceptions</a>

                    </div>
                </div>
        </div>
                        <!--modal pour creer une nouvelle liste d'expedition-->

        <!--modal pour creer un nouveau point de retrait-->

    </div>


</template>

<script>
    export default {
        data(){
            return{
                pointRetrait:{
                    name:'',
                    telephoneResponsable:'',
                    adressePoint:'',
                    telephonePoint:''
                },

            }
        },
        methods:{

        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
<style lang="css" scoped>
    .design{
        /*border: 1px solid black ;*/
    }
    .row .col-md-6{
        margin-top: 30px
    }

    img{
        width: 200px;
        height: 200px;
        margin-left: 150px;
    }
    .spacer{
        margin-top: 20px;
    }
    .box{
        width: 350px;
        margin-left: 15px;
        border-bottom: 20px solid #03a9f4;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .box h2{
        color: #fff;
        background: #03a9f4;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 700;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .box ul{
        position: relative;;
        background: #fff;
        padding: 0;
        margin-bottom: 0;
    }

    .box ul li{
        list-style: none;
        padding: 15px;
        margin-bottom: 1px;
        width: 100%;
        display: inline-block;
        background: #fff;
        box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
        transition:transform 0.5s;
    }
    .box ul:hover li{
        opacity: 0.2;

    }
    .box ul li:hover{
        transform: scale(1.1);
        z-index: 100;
        background: #25bcff;
        box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
        color: #fff;
        opacity: 1;
    }
    .box ul li span{
        width: 10px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        background: #25bcff;
        color: #fff;
        display: inline-block;
        border-radius: 50%;
        font-size: 15px;
        font-weight: 600;
        transform: translateY(0px);


    }
     .box ul li:hover span{
        background: #fff;
        color: #25bcff;
     }

    .list ul{
        position: relative;
        margin-left:60px;
        margin-top: 5px;
        width: 700px;
        padding: 10px;
        box-sizing: border-box;
        background: rgba(0, 0, 0, .1);
        border-radius: 5px;
        overflow: hidden;

    }
    .list ul li{
        display: flex;
        background: #ccc;
        padding: 10px;
        margin: 3px ;
        transition: .5s;
    }

    ul li span:nth-child(1){
        width: 30px;
        margin-left: 20px;
    }
     ul li span:nth-child(2){
        width: 200px;
        margin-left: 100px;
    }
     ul li span:nth-child(3){
        width: 100px;
        margin-right: 40px;

    }
     ul li span:nth-child(4){
        width: 70px;

    }
    .list ul li:hover{
        transform: scale(1.06);
        background:#03a9f4;
        z-index: 100;
    }
    .active{
        background: #03a9f4!important;
    }
</style>
