<template>
    <div >
        <div class="col-md-12">
            <h1 class="text-center">Employes de l'agence(22)</h1>
             <div class="row mb-4 mt-4">
                <div class="col-md-5 offset-3 ">
                <input type="search" class="form-control form-control-md" placeholder="Rechercher un employe de cette agence" aria-controls="sampleTable">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary mr-5" type="button">Rechercher</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 ">
                    <div class="box16">
                        <img src="../assets/user.png"  alt="...">
                        <div class="box-content">
                            <h3 class="title">John Doe</h3>
                            <span class="post">Agent de gestion</span>
                            <ul class="social">
                                <li><a  type="button" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a  type="button" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a type="button" href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a type="button" href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
<style lang="css" scoped>
.box16{
    margin-top: 20px;
    text-align:center;
    color:#fff;
    position:relative;

}

.box16 .box-content,.box16:after{
    width:100%;
    position:absolute;
    left:0
}
.box16:after{
    content:"";
    height:100%;
    background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.08) 69%,rgba(0,0,0,.76) 100%);
    top:0;
    transition:all .5s ease 0s
}
.box16 .post,.box16 .title{
    transform:translateY(145px);
    transition:all .4s cubic-bezier(.13,.62,.81,.91) 0s
}
.box16:hover:after{
    background:linear-gradient(to bottom,rgba(0,0,0,.01) 0,
    rgba(0,0,0,.09) 11%,rgba(0,0,0,.12) 13%,rgba(0,0,0,.19) 20%,
    rgba(0,0,0,.29) 28%,rgba(0,0,0,.29) 29%,rgba(0,0,0,.42) 38%,rgba(0,0,0,.46) 43%,
    rgba(0,0,0,.53) 47%,rgba(0,0,0,.75) 69%,rgba(0,0,0,.87) 84%,
    rgba(0,0,0,.98) 99%,rgba(0,0,0,.94) 100%)
}
.box16 img{
    width:80%;
    height:40% !important;
    text-align: center;
    overflow: hidden;

}
.box16 .box-content{
    padding:20px;
    margin-bottom:20px;
    bottom:0;z-index:1
}
.box16 .title{
    font-size:22px;
    font-weight:700;
    text-transform:uppercase;
    margin:0 0 10px
}
.box16 .post{
    display:block;
    padding:8px 0;
    font-size:15px
}
.box16 .social li a,.box17 .icon li a{
    border-radius:50%;
    font-size:20px;
    color:#fff
}
.box16:hover .post,.box16:hover .title{
    transform:translateY(0)
}
.box16 .social{
    list-style:none;
    padding:0 0 5px;
    margin:40px 0 25px;
    opacity:0;
    position:relative;
    transform:perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);
    transition:all .6s cubic-bezier(0,0,.58,1) 0s
}
.box16:hover .social{
    opacity:1;
    transform:perspective(500px) rotateX(0) rotateY(0) rotateZ(0)
}
.box16 .social:before{
    content:"";
    width:50px;height:2px;
    background:#fff;
    margin:0 auto;
    position:absolute;
    top:-23px;
    left:0;
    right:0
}
.box16 .social li{
display:inline-block
}
.box16 .social li a{
display:block;
width:40px;
height:40px;
line-height:40px;
background:#6d3795;
margin-right:10px;
transition:all .3s ease 0s
}
.box17 .icon li,.box17 .icon li a{
display:inline-block
}
.box16 .social li a:hover{
background:#bea041
}
.box16 .social li:last-child a{
margin-right:0
}
@media only screen and (max-width:990px){
    .box16{
        margin-bottom:30px
    }
}


</style>
