<template>
    <div>
      <div class="row user">
        <div class="col-md-12">
          <div class="tab-content">

            <div class="tab-pane active" id="user-settings">
              <div class="tile user-settings">
                  <h1 class=" text-center green mb-3 ">ENREGISTRER UN NOUVEL EMPLOYE </h1>
                    <h2 class="text-center mt-2">Identité</h2>

                <form @submit.prevent="createEmploye">
                    <div class="row mb-4">

                    <div class="col-md-4 form-group">
                        <label>Nom</label>
                        <input class="form-control" name="nom" type="text" v-model="employe.identite.nom"
                        :class="{ 'is-invalid': employe.errors.has('identite.nom') }" >
                        <has-error :form="employe" field="identite.nom"></has-error>
                    </div>


                    <div class="col-md-4  form-group">
                      <label>Prénom(s)</label>
                      <input class="form-control" type="text" v-model="employe.identite.prenom"
                        :class="{ 'is-invalid': employe.errors.has('identite.prenom') }" >
                        <has-error :form="employe" field="identite.prenom"></has-error>
                    </div>
                    <div class="col-md-4  form-group">
                      <label>Numéro de carte</label>
                      <input class="form-control" type="text"  v-model="employe.identite.carteNumber"
                        :class="{ 'is-invalid': employe.errors.has('identite.carteNumber') }" >
                        <has-error :form="employe" field="identite.carteNumber"></has-error>
                    </div>
                    <div class="col-md-4  form-group">
                      <label>Type de carte</label>
                      <select class="form-control" id="exampleSelect1"  v-model="employe.identite.typeCarte" :class="{ 'is-invalid': employe.errors.has('identite.typeCarte') }" >
                            <option>Sélectionnez le type de carte </option>
                            <option value="carte d'identité">Carte Nationale d'identité</option>
                            <option value="permis de conduire">Permis de conduire</option>
                        </select>
                        <has-error :form="employe" field="identite.typeCarte"></has-error>
                    </div>
                    <div class="col-md-4  form-group">
                      <label>Téléphone</label>
                      <input class="form-control" type="tel"  v-model="employe.identite.telephone"
                        :class="{ 'is-invalid': employe.errors.has('identite.telephone') }" >
                        <has-error :form="employe" field="identite.telephone"></has-error>

                    </div>
                    <div class="col-md-4  form-group">
                      <label>Email</label>
                      <input class="form-control" type="text" v-model="employe.identite.email"
                        :class="{ 'is-invalid': employe.errors.has('identite.email') }" >
                        <has-error :form="employe" field="identite.email"></has-error>
                    </div>
                  </div>
                  <h2 class="text-center">Localisation</h2>
                  <div class="row mb-4">

                        <div class="col-md-4">
                            <label>Continent</label>
                            <select class="form-control" id="continentListe"  @change="paysliste()">
                                <option value="">Sélectionnez le continent</option>
                                <option  v-for="v in continentlist" :key="v.id" :value="v.id">{{ v.nom }}</option>
                            </select>

                        </div>
                        <div class="col-md-4">
                            <label>Pays</label>
                            <select class="form-control" id="paysListe"  @change="regionliste()">
                                <option value="">Sélectionnez le pays</option>
                                <option  v-for="v in payslist" :key="v.id" :value="v.id">{{ v.nom }}</option>
                            </select>

                        </div>
                        <div class="col-md-4">
                            <label>Région</label>
                            <select class="form-control" id="regionListe"  @change="villeliste()">
                                <option value="">Sélectionnez la region</option>
                                <option  v-for="v in regionlist" :key="v.id" :value="v.id">{{ v.nom }}</option>
                            </select>

                        </div>
                        <div class="col-md-4">
                        <label>Ville</label>
                        <select class="form-control" id="villeListe"  v-model="employe.localisation.ville">
                                <option value="">Sélectionnez la ville</option>
                                <option  v-for="v in villelist" :key="v.id" :value="v.id">{{ v.description }}</option>
                            </select>
                        </div>


                  </div>
                  <h2 class="text-center">Professionnel</h2>
                  <div class="row mb-4">
                    <div class="col-md-4  form-group">
                      <label>Role</label>
                        <select class="form-control" id="employeProfil" v-model="employe.professionnel.role" @change="employePermissions()"
                        :class="{ 'is-invalid': employe.errors.has('professionnel.role') }">
                            <option value="">Role de l'employé </option>
                             <option  v-for="profil in profilsList" :key="profil.id" :value="profil.id">{{ profil.name }}</option>
                        </select>
                        <has-error :form="employe" field="professionnel.role"></has-error>
                    </div>

                    <div class="col-md-4  form-group">
                      <label>Date d'embauche</label>
                      <input class="form-control"  type="date" placeholder="date" v-model="employe.professionnel.dateEmbauche"
                      :class="{ 'is-invalid': employe.errors.has('professionnel.dateEmbauche') }">
                      <has-error :form="employe" field="professionnel.dateEmbauche"></has-error>
                    </div>

                  </div>
                  <h2 class="text-center">Permissions</h2>
                    <div class="funkyradio mb-5" id="checkboxes">
                         <template v-if="!permissionsList.Length">
                            <div class="funkyradio-danger" v-for="(permission) in permissionsList" :key="permission.id">
                                <input type="checkbox" name="etiquette"
                                 :id="permission.name" :value="permission.name" disabled  v-model="employePermissionsFind"
                                 :checked="checked(permission.name) "
                                 >

                                <label :for="permission.name">{{ permission.name }}</label>
                            </div>
                    </template>
                    <template v-else>
                        <div>
                            <p>Aucune permission n'est ajoute</p>
                        </div>
                    </template>
                    </div>
                    <div class="row ml-5">
                        <div class="col-md-3 offset-2">
                            <button class="btn btn-primary btn-lg btn-block" type="submit" >Ajouter cet employé </button>
                        </div>
                        <div class="col-md-3 offset-1">
                            <button  class="btn btn-secondary btn-lg btn-block" type="reset" >Reprendre les informations</button>
                        </div>
                    </div>
                    </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                continentlist:[],
                payslist:[],
                regionlist:[],
                villelist:[],
                employe:new Form({
                        identite:{
                            nom:'',
                            prenom:'',
                            telephone:'',
                            email:'',
                            carteNumber:'',
                            typeCarte:''
                        },
                        localisation:{
                            ville:'',
                        },
                        professionnel:{
                            role:'',
                            dateEmbauche:'',

                        }
                }),
                permissionsList:[],
                profilsList:[],
                value:null,
                employePermissionsFind:[],

            }
        },

        methods:{
            allPermission:function(){
                    axios.get('api/Permission')
                    .then((response)=>{
                        this.permissionsList=response.data;
                    })
                },
                allProfils:function(){
                    axios.get('api/Profil')
                    .then((response)=>{
                        this.profilsList=response.data;
                    })
                },
        paysliste(value){
            var e = document.getElementById("continentListe");
            this.value = e.options[e.selectedIndex].value;
            if(this.value){
                axios.get('/api/continent/'+this.value)
                    .then((response)=>{
                        this.payslist=response.data
                    })
            }
        },
         regionliste(value){
              var e = document.getElementById("paysListe");
             this.value = e.options[e.selectedIndex].value;
             if(this.value){
                 axios.get('/api/pays/'+this.value)
                    .then((response)=>{
                        this.regionlist=response.data
                    })
             }
        },
        villeliste(value){
              var e = document.getElementById("regionListe");
             this.value = e.options[e.selectedIndex].value;
             if(this.value){
                 axios.get('/api/region/'+this.value)
                    .then((response)=>{
                        this.villelist=response.data
                    })
             }
        },

                  checked:function(param){
                    var result;
                     var e = document.getElementById("employeProfil");
                     var value = e.options[e.selectedIndex].value;
                     result= this.employePermissionsFind.includes(param);
                        if(!value){
                            return false;
                        }else{
                        return result
                        }
                },
                employePermissions:function(value){

                  this.employePermissionsFind=[]
                    var e = document.getElementById("employeProfil");
                     this.value = e.options[e.selectedIndex].value;
                    if(this.value){
                      axios.get('api/Permission/'+this.value)
                        .then((response)=>{
                            var data =response.data
                            for(let i=0;i<data.length;i++){
                                    this.employePermissionsFind.push(data[i]['name'])
                            }

                        })
                        .catch(()=>{
                            alert("no permissions")
                        })
                    }
                },
                createEmploye(){
                    this.employe.post('api/Employe')
                    .then(()=>{
                            Swal.fire("Ajoute", "Employé ajouté avec succès", "success");
                    })
                    .catch(()=>{
                        Swal.fire("Erreur", "Une erreur s'est produite lors de l'enregistrement,veuillez reprendre s'il vous plait", "error");
                    })
                }

        },

        mounted() {

            console.log('Component mounted.')


        },
        created() {
             axios.get('/api/continent')
        .then((response)=>{
            this.continentlist=response.data
            //console.log(response)
        })
            this.allPermission(),
            this.allProfils()

        },
    }

</script>
<style lang="css" scoped>
    .spacer  label{
        margin-bottom: 5px;
    }
    .spacer input{
        margin-bottom: 25px;
    }
    .mb-4 .col-md-4{
        margin-bottom: 1%
    }
    .funkyradio div {
display: inline;
margin-right: 25px;
}

.funkyradio label {
  width: 30%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
color: black
}

.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
  color: green
}

.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}


.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}


.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}
input[type='number'] {
    -moz-appearance:textfield !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}
</style>
