<template>

<div class="tile">
    <div class="text-center mb-3">
        <img src="../assets/travel.png" width="12%" height="05%" alt="">
    </div>
    <h2 class="text-center">Ajouter une nouveau  itineraire</h2>
    <form action="#">
        <div class="col-md-12">
            <div class="row mt-5">
                <div class="col-md-3 form-group">
                    <label>Sélectionnez la  premiere ville  <span style="color:red;font-size:18px">*</span></label>
                    <input class="form-control" name="nom" autocomplete="off" v-model="villedepart" @input="filtervilleDepart()" @focus="modal1=true"/>
                    <div v-if="filteredVillesDepart && modal1">
                        <ul class=" list-unstyled w-100" >
                            <li class=" text-center container bggreen" style="border:1px solid white;height:30px;cursor:pointer;background-color:#38c172;" v-for="v in filteredVillesDepart" :key="v.id" @click="setVilleDepart(v)">{{v.description}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label>Sélectionnez la  seconde ville  <span style="color:red;font-size:18px">*</span></label>
                    <input class="form-control" name="nom" autocomplete="off" v-model="villedestination" @input="$root.filter()" @focus="modal=true"/>
                    <div v-if="filteredVilles && modal">
                        <ul class=" list-unstyled w-100" >
                            <li class=" text-center container bggreen" style="border:1px solid white;height:30px;cursor:pointer;background-color:#38c172;" v-for="v in filteredVilles" :key="v.id" @click="setVille(v)">{{v.description}}</li>
                        </ul>
                    </div>
                </div>
               <div class=" col-md-3 form-group">
                      <label for="masse">Saisissez la masse de calcul initial <span style="color:red;font-size:18px">*</span></label>
                      <div class="input-group">
                        <input class="form-control" id="masse" type="number" v-model="masse">
                        <div class="input-group-append"><span class="input-group-text">kg</span></div>
                      </div>
                </div>
                <div class=" col-md-3 form-group">
                      <label for="volume">Saisissez le volume de calcul initial <span style="color:red;font-size:18px">*</span></label>
                      <div class="input-group">
                        <input class="form-control" id="volume" type="number" v-model="volume">
                        <div class="input-group-append"><span class="input-group-text">dm<SUP>3</SUP></span></div>
                      </div>
                </div>
            </div>
        </div>
        <div class="mt-1 ml-5">
            <h3 class="text-center">Ajouter des tarifs suivant les types de transports</h3>
            <div class="col-md-3 offset-5 mt-3">
                    <div class="row">
                    <div>
                        <button type='button' class="btn btn-info" @click="addNewRow">
                            <i class="fas fa-plus"></i>Ajouter un tarif
                        </button>
                    </div>
                    <div class="col-md-1 form-group">
                        <div>
                            <button type='button' class="btn btn-secondary" >modifier un tarif</button>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="row mt-3 " v-for="(tarif, k) in tarifs" :key="k">
                <div class=" col-md-3 form-group ml-3">
                     <label for="voie">Voie<span style="color:red;">*</span></label>
                    <div class="input-group">
                        <select class="form-control voie"  v-model="tarif.voie" @change="selected">
                        <option value="">Sélectionnez la voie de transport</option>
                        <option v-show="existe(v.id)" v-for="v in voies" :key="v.id" :value="v.id">{{ v.Description }}</option>
                    </select>
                    </div>
                </div>
                <div class=" col-md-3 form-group">
                      <label for="montant">Montant<span style="color:red;">*</span></label>
                      <div class="input-group">
                        <input class="form-control" id="montant" type="number"  v-model="tarif.montant">
                        <div class="input-group-append"><span class="input-group-text">fcfa</span></div>
                      </div>
                </div>
                <div class=" col-md-3 form-group">
                      <label for="duree">Durée <span style="color:red;">*</span></label>
                      <div class="input-group">
                        <input class="form-control" id="duree" type="number"  v-model="tarif.duree">
                        <div class="input-group-append"><span class="input-group-text">jr</span></div>
                      </div>

                </div>
                <div class="col-md-1 form-group">
                    <label class="mt-1" for=""></label>
                    <div class="mt-2">
                        <button type='button' class="btn btn-danger" @click="deleteRow(k, tarif)">
                        <i class="fas fa-minus-circle"></i>
                        Retirer
                    </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="text-center mt-3 container">
                <button type='button' class="btn btn-primary btn-lg" @click="createDestination">
                        Créer la destination
                    </button>
        </div>
    </form>

</div>
</template>
<script>
export default {
    data(){
        return{
            id:null,
            ville:null,
            villedepart:null,
            villedestination:null,
            modal:false,
            modal1:false,
            filteredVilles:[],
            filteredVillesDepart:[],
            voies:[],
            masse:null,
            villedepartId:null,
            villeDestinationId:null,
            volume:null,
            listTransport:[],
            tarifs:[{
                voie:'',
                montant:'',
                duree:'',

            }]
        }
    },
    computed:{

    },
    methods:{

        filtervilleDepart(){
             if(this.villedepart==''){
                this.filteredVillesDepart=[];
            }else{
                axios.get('api/all?q='+this.villedepart)
                    .then((response)=>{
                            this.filteredVillesDepart=response.data
                    })
                    .catch(()=>{

                    })
            }
        },
        /**cette fonction permet de cacher une voie de transport lorsqu'il est selectionne auparavant */
        selected(val){
            this.listTransport=[]
                  for(var i=0;i<this.tarifs.length;i++){
                        var e = document.getElementsByClassName("voie");
                    this.value = e[i].options.selectedIndex;
                        if(val==null){
                            this.listTransport.push(this.value)
                        }else{
                            if(this.listTransport.length==0){
                                  this.listTransport.push(this.value)
                            }
                            else{
                              if(this.listTransport.indexOf(this.value)<0){
                                  this.listTransport.push(this.value)
                              }
                              if(this.listTransport.indexOf(this.value)>0){
                              }
                            }
                        }



                  }
        },
        existe(value){

            if(this.listTransport.length==0){
                return true;
            }else{
                if(this.listTransport.indexOf(value)>0){
                        return false
                }
                if(this.listTransport.indexOf(value)<0){
                    return true
                }
            }

        },
        //ville de destination
        setVille(v){
            if(v.description==null){
                this.ville=""
            }else{
                this.villeDestinationId=v.id
                this.villedestination=v.description;
            }
            this.modal=false;
        },
        setVilleDepart(v){
            if(v.description==null){
                this.villedepart=""
            }else{

                this.villedepartId=v.id
                this.villedepart=v.description;
            }
            this.modal1=false;
        },

         addNewRow() {
            this.tarifs.push({
                voie:'',
                montant:'',
                duree:'',
            });
        },
        deleteRow(index,tarif) {

            if(index && index++){
                var idx = this.tarifs.indexOf(tarif);
                //console.log(idx, index);
                if (idx > -1) {
                    this.listTransport.splice(tarif.voie,1);
                    this.selected(null)
                    this.tarifs.splice(idx, 1);

                }
            }

        },
        createDestination(){
            axios.post('/api/destination',{
                villeDepart:this.$data.villedepartId,
                villeDestination:this.$data.villeDestinationId,
                volume:this.$data.volume,
                masse:this.$data.masse,
                tarifs:this.$data.tarifs
            })
                .then((response)=>{
                   if(!response.data.success){
                             Swal.fire("Erreur", response.data.message, "error")
                    }else{
                            this.$router.push('tarif_table');
                    }

                })
                .catch((response)=>{

                            Swal.fire("Erreur", "Un champ n'est pas rempli ou mal rempli", "error")

                })
        }
    },
    created(){
        Fire.$on('searchCities',()=>{
            if(this.villedestination==''){
                this.filteredVilles=[];
            }else{
                axios.get('api/all?q='+this.villedestination)
                    .then((response)=>{
                            this.filteredVilles=response.data
                    })
                    .catch(()=>{

                    })
            }
        })


        axios.get('/api/voie')
        .then((response)=>{
            this.voies=response.data

        })


    }
}
</script>

<style lang="css" scoped>
input[type='number'] {
    -moz-appearance:textfield !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}
</style>
