<template>
    <div class="tile">
        <div class="col-md-12">
        <h1 class="text-center mb-5">Ajouter un nouveau point de retrait à cet agence</h1>
        <form action="#">
            <h2 class="text-center mb-3  mt-3 red">Informations sur le responsable</h2>
                <div class="row mb-4 mt-2">
                    <div class="col-md-5 offset-3 ">
                    <input type="search" class="form-control" v-model="$root.$data.search" placeholder="Numéro téléphone du responsable du point de préférence préfixé du code du pays">
                    </div>
                    <button class="btn btn-primary mr-5" type="button" @click="$root.chef()">Rechercher l'agent</button>
                </div>
                <div class="card mb-3" >
                    <div class="row ">
                        <div class="col-md-4 justify-content-center">
                        <img src="../assets/user.png" class="card-img img-chef" alt="...">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label>Nom</label>
                                        <input class="form-control" type="text" disabled v-model="point.responsablePoint.Nom">

                                    </div>
                                    <div class="col-md-5">
                                        <label>Prénom(s)</label>
                                        <input class="form-control" type="text" disabled v-model="point.responsablePoint.Prenom">

                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-md-5">
                                        <label>Téléphone</label>
                                        <input class="form-control" type="text" disabled v-model="point.responsablePoint.Telephone" >

                                    </div>
                                    <div class="col-md-5">
                                        <label>Email</label>
                                        <input class="form-control" type="text" disabled v-model="point.responsablePoint.Email">

                                    </div>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
        <h2 class="text-center mb-3 mt-5 red">Localisation du point de retrait</h2>
        <div class="card mb-3" >
                <div class="row mb-4">
                    <div class="col-md-4 justify-content-center">
                        <img src="../assets/pin.png" class="card-img img-chef" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <label>Continent</label>
                                    <select class="form-control" id="continentListe"  @change="paysliste()">
                                        <option value="">Sélectionnez le continent</option>
                                        <option  v-for="v in continentlist" :key="v.id" :value="v.id">{{ v.nom }}</option>
                                    </select>

                                </div>
                                <div class="col-md-5">
                                    <label>Pays</label>
                                    <select class="form-control" id="paysListe"  @change="regionliste()">
                                        <option value="">Sélectionnez le pays</option>
                                        <option  v-for="v in payslist" :key="v.id" :value="v.id">{{ v.nom }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-md-5">
                                    <label>Région</label>
                                    <select class="form-control" id="regionListe"  @change="villeliste()">
                                        <option value="">Sélectionnez la region</option>
                                        <option  v-for="v in regionlist" :key="v.id" :value="v.id">{{ v.nom }}</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                <label>Ville</label>
                                <select class="form-control" id="villeListe"  v-model="point.localisation.ville">
                                        <option value="">Sélectionnez la ville</option>
                                        <option  v-for="v in villelist" :key="v.id" :value="v.id">{{ v.description }}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
        </div>
        <div>
            <h2 class="text-center mb-3 red">Informations générales sur le point</h2>
                    <div class="row mb-4">
                        <div class="col-md-4  offset-2 form-group">
                            <label>Nom du point <span style="color:red;font-size:18px">*</span></label>
                            <input class="form-control" name="nom" v-model="point.nom" :class="{ 'is-invalid': point.errors.has('nom') }"/>
                                  <has-error :form="point" field="nom"></has-error>

                        </div>
                        <div class="col-md-4 form-group">
                            <label>Téléphone<span style="color:red;font-size:18px">*</span></label>
                            <input class="form-control" name="telephone" v-model="point.telephone" :class="{ 'is-invalid': point.errors.has('telephone') }" />
                             <has-error :form="point" field="telephone"></has-error>
                        </div>
                    </div>
                    <div class="row ml-5">

                        <div class=" col-md-5 offset-2">
                            <label>Donnez des indicatifs sur l'addresse<span style="color:red;font-size:18px">*</span></label>
                        <textarea name="adresse" cols="120" rows="10" v-model="point.addresse"
                             :class="{ 'is-invalid': point.errors.has('addresse') }"></textarea>
                          <has-error :form="point" field="addresse"></has-error>
                        </div>
                    </div>
        </div>
        <div class="row ml-5 mt-3">
            <div class="col-md-3 offset-2">
                <button class="btn btn-primary btn-lg btn-block" type="submit" @click.prevent="addPoint" >Ajouter le point </button>
            </div>
            <div class="col-md-3 offset-1">
                <button  class="btn btn-secondary btn-lg btn-block" type="reset" >Reprendre les informations</button>
            </div>
        </div>
        </form>

    </div>
    </div>
</template>
<script>
export default {
    data()
    {
        return{
            continentlist:[],
                payslist:[],
                regionlist:[],
                villelist:[],
                chefInfo:'',

                point:new Form({
                        nom:'',
                        telephone:'',
                        addresse:'',
                        localisation:{
                            ville:'',

                        },
                        responsablePoint:{
                        Id:'',
                        Nom:'',
                        Prenom:'',
                        Telephone:'',
                        Email:''
                    },

                }),

        }
    },methods:{

            paysliste(value){
            var e = document.getElementById("continentListe");
            this.value = e.options[e.selectedIndex].value;
            if(this.value){
                axios.get('/api/continent/'+this.value)
                    .then((response)=>{
                        this.payslist=response.data
                    })
            }
        },
         regionliste(value){
              var e = document.getElementById("paysListe");
             this.value = e.options[e.selectedIndex].value;
             if(this.value){
                 axios.get('/api/pays/'+this.value)
                    .then((response)=>{
                        this.regionlist=response.data
                    })
             }
        },
        villeliste(value){
              var e = document.getElementById("regionListe");
             this.value = e.options[e.selectedIndex].value;
             if(this.value){
                 axios.get('/api/region/'+this.value)
                    .then((response)=>{
                        this.villelist=response.data
                    })
             }
        },

        addPoint(){
                this.point.post('api/pointRetrait')
                .then((response)=>{

                    if(response.data.dejaAgent){
                        Swal.fire("Erreur", "Vous ne pouvez pas prendre cet agent comme responsable...il l'est déjà", "error");
                    }else{
                        Swal.fire("Ajouté", "La création du point est faite avec succès", "success"),
                    this.chefInfo='',
                        this.point.reset();
                    }

                })
                .catch(
                    ()=>{
                     Swal.fire("Erreur", "Une erreur s'est produite lors de l'enregistrement,veuillez reprendre s'il vous plait", "error");
                    }
                )
            },

    },
    mounted() {

            console.log('Component mounted.')


        },
        created() {
             Fire.$on('searching',()=>{
                let query=this.$parent.search;
                if(query==""){
                    this.point.responsablePoint={}
                    return;
                }else{
                    axios.get('api/findUser?q='+query)
                    .then((response)=>{
                            this.point.responsablePoint=response.data
                    })
                    .catch(()=>{

                    })
                }
            })
             axios.get('/api/continent')
        .then((response)=>{
            this.continentlist=response.data
            //console.log(response)
        })


        },
}
</script>

<style lang="css"scoped>
 .img-chef{
        width: 200px;
        height: 200px;
        margin-top: 30px;
        margin-bottom: 10px;;
        margin-left: 150px;
        margin-right: 0;
    }
</style>
