<template>
<div class="colortableback">
    <div class="row mb-4 mt-2">
                <div class="col-md-5 offset-3 ">
                <input type="search" class="form-control form-control-md" placeholder="Rechercher une ville " aria-controls="sampleTable">
                </div>
                <div class="col-md-4 col-sm-4">
                    <button class="btn btn-primary mr-5" type="button">Rechercher</button>
                    <router-link class="btn btn-secondary ml-4 " type="button" to="/newTarif"><i class="fas fa-plus grey"></i> Ajouter une nouvelle destination</router-link>
                </div>
            </div>
    <div class="mt-5 text-center">
        <div class="row mb-3" >
            <div class="col-md-3  mb-3 " v-for="list in lists" :key="list.id" >
                <div class="pricing-item design">
                    <!-- Indicator of subscription type -->
                    <div class="pt-4 pb-1" style="letter-spacing: 2px;">
                        <h4 style="font-size: 30px;">{{ list.ville_depart}}-{{ list.ville_destination }}</h4>
                    </div>
                    <!-- Price class -->
                    <div class="pricing-price  text-warning color-primary-text">
                        <span style="font-weight: 500; font-size:35px;" v-for="montant in list.info" :key="montant.id">
                            {{ montant.tarif.montant}}<span style="font-size: 15px;">fcfa &nbsp;</span>/
                        </span>
                    </div>

                    <div class="pricing-description">
                        <ul class="list-unstyled mt-3 mb-4" style="font-size:20px;">
                            <li class="pl-3 pr-3">
                                <strong>Voies</strong>:<span  style="font-size: 17px;" v-for="transport in  list.info" :key="transport.id">{{transport.voie[0].Description}},</span>
                            </li>
                            <li class="pr-3"><strong>Masse:</strong>&nbsp;&nbsp;{{ list.info[0].tarif.masse}}kg &nbsp;&nbsp;&nbsp;&nbsp;
                                 <strong>Volume:</strong>&nbsp;&nbsp;{{ list.info[0].tarif.volume}}dm<sup>3</sup></li>
                        </ul>

                    </div>
                    <!-- Button -->
                    <div class="pricing-button pb-4">
                      <div class="row">
                          <div class="col-md-6">
                                <button type="button" @click="modifier(list.itineraire)" class="btn btn-lg btn-info w-75">Modifier</button>
                          </div>
                          <div class="col-md-6">
                                <button type="button" class="btn btn-lg btn-danger w-75">Retirer</button>
                          </div>
                      </div>
                    </div>
                </div>
            </div>


    </div>
    </div>
</div>
</template>
<script>
export default {
    data(){
        return{
                lists:[]
        }
    },
    methods: {
        modifier(id){
              this.$router.push({path:'/updateTarif/'+id});

        }
    },
    created(){

         axios.get('/api/listTarif')
        .then((response)=>{
            this.lists=response.data

        })
    }
}
</script>
<style lang="css" scoped>
.container{
    margin-left: 0%;
    margin-right: 0%!important;
    padding:0!important ;
}

.design{
    box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.29);
    background-color:white;
}

</style>
