<template>
<div class="tile">
    <div class="text-center mb-3">
        <img src="../assets/travel.png" width="12%" height="05%" alt="">
    </div>
    <h2 class="text-center">modifier des informations</h2>
    <form action="#">
        <div class="col-md-12">
            <div class="row mt-5">
                <div class="col-md-3   offset-2 form-group">
                    <label>Ville 1 </label>
                    <input class="form-control" name="nom" autocomplete="off" v-model="ville1" disabled/>
                </div>
                <div class="col-md-3 offset-2 form-group">
                    <label> Ville 2</label>
                    <input class="form-control" name="nom" autocomplete="off" v-model="ville2"  disabled/>

                </div>
            </div>
        </div>
        <div class="mt-1 ml-5">
            <h3 class="text-center">Ajouter des tarifs suivant les types de transports</h3>
            <div class="col-md-3 offset-5 mt-3">
                    <div class="row">
                    <div>
                        <button type='button' class="btn btn-info" @click="addNewRow">
                            <i class="fas fa-plus"></i>Ajouter un tarif
                        </button>
                    </div>
                    </div>
            </div>
            <div class="row mt-3 " v-for="(tarif, k) in tarifs" :key="k">
                <div class=" col-md-3 form-group">
                     <label for="voie">Voie<span style="color:red;">*</span></label>
                    <div class="input-group">
                        <select class="form-control voie"  v-model="tarif.voie" @change="selected">
                        <option value="">Sélectionnez la voie de transport</option>
                       <option v-show="existe(v.id)" v-for="v in voies" :key="v.id" :value="v.id">{{ v.Description }}</option>
                    </select>
                    </div>
                </div>
                <div class=" col-md-3 form-group">
                      <label for="montant">Montant<span style="color:red;">*</span></label>
                      <div class="input-group">
                        <input class="form-control"  type="number"  v-model="tarif.montant">
                        <div class="input-group-append"><span class="input-group-text">fcfa</span></div>
                      </div>
                </div>
                 <div class=" col-md-3 form-group">
                      <label for="masse">Masse de calcul initial</label>
                      <div class="input-group">
                        <input class="form-control" id="masse" type="number" v-model="tarif.masse">
                        <div class="input-group-append"><span class="input-group-text">kg</span></div>
                      </div>
                </div>
                <div class=" col-md-3 form-group">
                      <label for="volume">Volume de calcul initial</label>
                      <div class="input-group">
                        <input class="form-control" id="volume" type="number" v-model="tarif.volume">
                        <div class="input-group-append"><span class="input-group-text">dm<SUP>3</SUP></span></div>
                      </div>
                </div>

                <div class=" col-md-3 form-group">
                      <label for="duree">Durée <span style="color:red;">*</span></label>
                      <div class="input-group">
                        <input class="form-control"  type="number"  v-model="tarif.duree">
                        <div class="input-group-append"><span class="input-group-text">jr</span></div>
                      </div>

                </div>
                <div class="col-md-1 form-group">
                    <label class="mt-1" for=""></label>
                    <div class="mt-2">
                        <button type='button' class="btn btn-danger" @click="deleteRow(k, tarif)">
                        <i class="fas fa-minus-circle"></i>
                        Retirer
                    </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="text-center mt-3 container">
                <button type='button' class="btn btn-secondary btn-lg" @click="enregistrerModification()">
                       Enregistrer les modifications
                    </button>
        </div>
    </form>

</div>
</template>
<script>
export default {
    data(){
        return{
            voies:[],
            ville1:null,
            ville2:null,
            tarifs:[],
             listTransport:[],
        }
    },
    methods:{
        //ville de destination
         addNewRow() {
            this.tarifs.push({
                voie:'',
                montant:'',
                duree:'',
                masse:'',
                volume:''
            });
        },
        enregistrerModification(){
                axios.put('/api/destination/'+this.$route.params.id,{
                    tarifs:this.$data.tarifs
                }).then((response)=>{
                    this.$router.push('/tarif_table');

                })
        },
        deleteRow(index,tarif) {
            if(index && index++){
                var idx = this.tarifs.indexOf(tarif);
                //console.log(idx, index);
                if (idx > -1) {
                    this.tarifs.splice(idx, 1);
                }
            }

        },
                    selected(val){
            this.listTransport=[]
                  for(var i=0;i<this.tarifs.length;i++){
                        var e = document.getElementsByClassName("voie");
                    this.value = e[i].options.selectedIndex;
                        if(val==null){
                            this.listTransport.push(this.value)
                        }else{
                            if(this.listTransport.length==0){
                                  this.listTransport.push(this.value)
                            }
                            else{
                              if(this.listTransport.indexOf(this.value)<0){
                                  this.listTransport.push(this.value)
                              }
                              if(this.listTransport.indexOf(this.value)>0){
                              }
                            }
                        }



                  }
        },

         existe(value){
            if(this.listTransport.length==0){
                return true;
            }else{
                if(this.listTransport.indexOf(value)>0){
                        return false
                }
                if(this.listTransport.indexOf(value)<0){
                    return true
                }
            }

        },

    },
    created(){
        axios.get('/api/listTarif/'+this.$route.params.id)
        .then((response)=>{
            this.$data.ville1=response.data.ville_depart,
            this.ville2=response.data.ville_destination,
            this.volume=response.data.info[0].tarif.volume,
            this.masse=response.data.info[0].tarif.masse;
            for(var i=0;i<response.data.info.length;i++){

                this.listTransport.push(response.data.info[i].voie[0].id),//on ajoute l'id pour que la voie ne se reaffiche pas
                 //reajouter chaque tarif
                 this.tarifs.push({
                volume:response.data.info[i].tarif.volume,
                masse:response.data.info[i].tarif.masse,
                voie:response.data.info[i].voie[0].id,
                montant:response.data.info[i].tarif.montant,
                duree:response.data.info[i].tarif.duree,
            });
            }
            //console.log(response.data)
        })
        axios.get('/api/voie')
        .then((response)=>{
            this.voies=response.data
        })

    },
    mounted(){

    }
}
</script>

<style lang="css" scoped>
input[type='number'] {
    -moz-appearance:textfield !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}
</style>
