body {
    /*background-image: linear-gradient(to right, #75CED2, , );*/
    background-image: linear-gradient( to right, #009385, #009688);
    margin-top: 150px !important;
}

.register-left {
    text-align: center;
    color: #fff;
    padding: 30px;
}

.register-left p {
    padding: 20px 20px 0;
}

.register-left img {
    margin-top: 60px;
    width: 100px;
    height: 130px;
    margin-bottom: 18px;
    ;
}

.iti {
    position: relative;
    display: block !important;
}

.register-left .btn-primary {
    border-radius: 1.5rem;
    border: none;
    width: 180px;
    background-color: #f8f8f8;
    font-weight: 600;
    color: #555;
    margin-top: 20px;
    padding: 10px;
}

.register-left .btn-primary:hover {
    background-color: #000000;
}

.register-right {
    border: none;
    background: #f8f8f8;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    padding: 50px;
}

.register-right h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #555;
}

.register-form {
    padding: 30px;
}

.register-right .btn-primary {
    float: right;
    border-radius: 1.5rem;
    border: none;
    width: 180px;
    background-color: #009385;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
}

.register-right .btn-primary:hover {
    background: #009688;
}


}

}