<template>
    <div>
        <div class="row user">
            <div class="col-md-12">
          <div class="profile">
            <div class="cover-image">
                <div class=" styl-head container-fluid">
                    <h1 class="text-center white"><strong>BIENVENUE DANS VOTRE ESPACE</strong></h1>
                </div>
            </div>
          </div>
        </div>
        </div>
        <div class="tile">
           <div class="row">
                <div class="col-md-3">
                    <div class="widget-small primary">
                        <i class="icon fa fa-users fa-3x"></i>
                        <div class="info">
                        <h4>Mes Envois</h4>
                        <p><b>5</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 offset-1">
                    <div class="widget-small info">
                        <i class="icon fa fa-thumbs-o-up fa-3x"></i>
                        <div class="info">
                        <h4>Mes commandes</h4>
                        <p><b>25</b></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 offset-1">
                    <div class="widget-small danger">
                        <i class="icon fa fa-star fa-3x"></i>
                        <div class="info">
                        <h4>Stars</h4>
                        <p><b>500</b></p>
                        </div>
                    </div>
                </div>
           </div>
           <div class="row mt-5">
               <div class="col-md-6">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                            <h2 class="mb-0 ">
                                <button class="btn btn-block btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Collapsible Group Item #1
                                </button>
                            </h2>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on
                                it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                                heard of them accusamus labore sustainable VHS.
                            </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                            <h2 class="mb-0 primary">
                                <button class="btn   btn-block btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Collapsible Group Item #2
                                </button>
                            </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-block btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Collapsible Group Item #3
                                </button>
                            </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card" style="width: 18rem;">
  <img src="assets/prod.png" class="card-img-top">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
                </div>
           </div>
    </div>

    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },

    }
</script>
<style lang="css" scoped>
    .styl-head{
        margin-top: 7%;

    }
    h2{

        color: #FFF;
        text-decoration: none;

    }
    h2:hover,h2:active{

        color: #FFF;
        text-decoration: none;
    }
    .btn-link{
        background-image: #17a2b8 !important;
        color:blue;
        text-decoration: none;

    }

</style>
