<template>
   <div>
    <div class="ftco-blocks-cover-1">
        <div class="ftco-cover-1 overlay" style="background-image: url('https://source.unsplash.com/pSyfecRCBQA/1920x780')">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <h1>Choose Your Quality Delivery of Your Cargo</h1>
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est magni perferendis fugit modi similique, suscipit, deserunt a iure.</p>
                <form action="#">
                  <div class="form-group d-flex">
                    <input type="text" class="form-control" placeholder="Entrer votre tracking number">
                    <input type="submit" class="btn btn-primary text-white px-4 orange" value="Traquez maintenant">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
   </div>

   </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
