<template>
    <div>
        <div class="tile">
            <h3 class="tile-title text-center"><strong>Liste des envois</strong></h3>
            <div class="row separateur">
                <div class="col-md-5 offset-3 " >
                <input type="search" class="form-control form-control-md" placeholder="Rechercher un destinataire en particulier.... " aria-controls="sampleTable">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary" type="button">Rechercher</button>
                </div>

            </div>
            <div class="row mt-4">
                   <table class="table responsive">
                        <thead>
                            <tr>
                                <th>Destinataire</th>
                                <th>Date d'envoi</th>
                                <th>Statut</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td><span class="badge badge-danger">en cours de traitement</span></td>
                                <td>
                                <a href="/details" >
                                <i class="fas fa-edit"></i>
                                </a>
                                |
                                <a href="#">
                                <i class="fas fa-trash-alt red"></i>
                                </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
            </div>
             <div class="tile">
            <h3 class="tile-title text-center"><strong>Liste des  commandes effectuées</strong></h3>
            <div class="row separateur">
                <div class="col-md-5 offset-3 " >
                <input type="search" class="form-control form-control-md" placeholder="Rechercher un destinataire en particulier.... " aria-controls="sampleTable">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary" type="button">Rechercher</button>
                </div>

            </div>
            <div class="row mt-4">
                   <table class="table responsive">
                        <thead>
                            <tr>
                                <th>Numéro</th>
                                <th>Destinataire</th>
                                <th>Date d'envoi</th>
                                <th>Statut</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>
                                <a href="/details" >
                                <i class="fas fa-edit"></i>
                                </a>
                                |
                                <a href="#">
                                <i class="fas fa-trash-alt red"></i>
                                </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
            </div>
          </div>
</template>

<script>
export default {

    methods:{
           getImageEnvoi(){
            return "/assets/images/send.png";
          },
    }
}
</script>
<style lang="css" scoped>


</style>
