<template>
    <div>
      <div class="row user">
        <div class="col-md-12">
          <div class="profile">
            <div class="info"><img class="user-img" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg">
              <h4>John Doe</h4>
            </div>
            <div class="cover-image"></div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="tab-content">

            <div class="tab-pane active" id="user-settings">
              <div class="tile user-settings">
                  <h1 class=" text-center ">Mes informations</h1>

                <form method="POST" @submit.prevent="sendInformation()" >

                    <h2>Identite</h2>
                  <div class="row mb-4">
                    <div class="col-md-4">
                      <label>Nom</label>
                      <input class="form-control" name="nom" type="text" :class="{ 'is-invalid': form.errors.has('nom') }" v-model="form.nom">
                      <has-error :form="form" field="nom"></has-error>
                    </div>
                    <div class="col-md-4">
                      <label>Prenom(s)</label>
                      <input class="form-control" type="text" v-model="form.prenom" :class="{ 'is-invalid': form.errors.has('prenom') }">
                       <has-error :form="form" field="prenom"></has-error>
                    </div>
                    <div class="col-md-4">
                      <label>Numero de carte</label>
                      <input class="form-control" type="text">
                    </div>
                    <div class="col-md-4">
                      <label>Type de carte</label>
                      <input class="form-control" type="text">
                    </div>
                    <div class="col-md-4">
                      <label>Telephone</label>
                      <input class="form-control" type="tel" v-model="form.telephone" :class="{ 'is-invalid': form.errors.has('telephone') }">
                       <has-error :form="form" field="telephone"></has-error>
                    </div>
                    <div class="col-md-4">
                      <label>Email</label>
                      <input class="form-control" type="text">
                    </div>

                  </div>
                  <h2>Localisation</h2>
                  <div class="row mb-4">
                      <div class="col-md-4">
                      <label>Pays</label>
                      <input class="form-control" type="text">
                    </div>
                    <div class="col-md-4">
                      <label>Ville de residence</label>
                      <input class="form-control" type="text">
                    </div>
                    <div class="col-md-4">
                      <label>Boite Postale</label>
                      <input class="form-control" type="text">
                    </div>

                  </div>
                  <h2>Professionnel</h2>
                  <div class="row mb-4">
                      <div class="col-md-4">
                      <label>Agence de Travail</label>
                      <input class="form-control" type="text">
                    </div>
                    <div class="col-md-4">
                      <label>Statut</label>
                      <input class="form-control" type="text">
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-md-6">


                      <button class="btn btn-primary" type="submit"  > Modifier les informations</button>
                      <button class="btn btn-primary" type="button" @click="updatePassword()"> Modifier le mot de passe</button>
                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="enregistrementTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Changer le mot de passe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div  class="modal-body spacer">
                    <label for="oldPassword">Ancien mot de passe</label>
                    <input type="text" class="form-control" id="oldPassword">

                    <label for="newPassword">Nouveau mot de passe</label>
                    <input type="text" class="form-control" id="newPassword">

                    <label for="confirmPassword">confirmer le mot de passe</label>
                    <input type="text" class="form-control" id="confirmPassword">

                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn btn-primary">Modifier</button>
                </div>


                </div>
            </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                form:new Form({
                    nom:'',
                    prenom:'',
                    telephone:'',
                }),


            }
        },
        computed:{

        },
        methods:{
            updatePassword(){
                $('#passwordModal').modal('show')
            },
            sendInformation(){
               this.form.post('api/utilisateurs')

        },
        mounted() {

            console.log('Component mounted.')


        },
        created() {

        },
    }
    }

</script>
<style lang="css">
    .spacer  label{
        margin-bottom: 5px;
    }
    .spacer input{
        margin-bottom: 25px;
    }
    .mb-4 .col-md-4{
        margin-bottom: 1%
    }
</style>
