<template>
    <div class="pdf mb-5">
        <button class="btn btn-primary" @click.prevent="download">Telecharger PDF</button>

            <div class=" container">
                <div class="row mt-5" id="qrcode">

                    <qr-code
                        :text="numero"
                        size="120"
                        color="#000"
                        bg-color="#fff"
                        error-level="L"
                    >
                    </qr-code>
                </div>
            </div>
    </div>
</template>

<script>
import VueQRCodeComponent from 'vue-qrcode-component'
import jsPDF from 'jspdf';
export default {
    name:'pdf',

    data(){
        return {
            id:null,
            numero:''
        }
    },
    methods:{

        download(){
            var pdf=new jsPDF();
                pdf.fromHTML($('#qrcode')[0], 15, 15, {  //"#qrcode" is the div which should be saved
                'background': '#fff',
                }, function() {
                pdf.save('lot.pdf');

                });
        },
    },
    created(){

        this.id=this.$route.params.id,
        axios.get('/api/Qrcode/'+this.$route.params.id)
                .then((response)=>{
                    this.numero=response.data['numero']
                    console.log(this.$route.params.id);
                })
    }
}
</script>
