<template>
<div>
    <div class="icons">
        <a href="#" class="enregistrer" @click="enregistrerLot()"><i class="fas fa-save"></i>Enregistrer ce lot</a>
        <a href="#" class="ajouter" @click="addColis()"> <i class="fas fa-plus-circle "></i> Ajouter un colis</a>

    </div>
    <div class="content">
             <div class="app-title">
        <div class="container">
          <h1 class="text-center" style="color:green">Complétez ou mettez à  jour les informations sur le lot  de cet expéditeur</h1>
          <p></p>
        </div>
      </div>
      <div class="tile">
          <h3 class="mb-3 mt-1 text-center" ><u>Informations générales</u></h3>

          <div class="row mt-4  mb-2 text">
              <div class="col-md-4 offset-1">
                 <p><strong>Pays d'expédition:</strong>&nbsp;&nbsp;{{ localisationExpediteur.Pays }}  </p>
                <p><strong>Ville d'expédition:</strong>&nbsp;&nbsp; {{ localisationExpediteur.Ville }}  </p>

              </div>
              <div class="col-md-3">

                 <p><strong>Pays de destination:</strong>&nbsp;&nbsp; {{ localisation.Pays }}</p>
                <p><strong>Ville de destination:</strong>&nbsp;&nbsp; {{ localisation.Ville }} </p>

              </div>
              <div class="col-md-3">
                 <p><strong>Numéro de traçage:</strong>&nbsp;&nbsp; {{numero|renseignement }} </p>
                <p><strong>Liste d'appartenance:</strong>&nbsp;&nbsp; {{listecode| renseignement}}  </p>

              </div>
          </div>

          <h3 class="mb-3 mt-1 text-center" ><u>Paramètres généraux</u></h3>
            <div class="row mt-4">
                <div class="col-md-3 offset-1">
                    <div class="row">
                         <label class=" container text-center">Voie de transport</label>
                        <select class="form-control" id="listeSelect" :disabled=!apply @change="liste()" v-model="parametresGeneraux.voie">
                            <option value="">Sélectionnez la voie de transport</option>
                            <option  v-for="v in voies" :key="v.id" :value="v.id">{{ v.Description }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 offset-1">
                    <div class="row">
                         <label class=" container text-center">Liste</label>
                        <select class="form-control" id="exampleSelect1" :disabled=!apply  v-model="parametresGeneraux.liste">
                            <option value="">Sélectionnez la liste </option>
                            <option  v-for="l in listesCrees" :key="l.id" :value="l.id">{{ l.codeListe }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 offset-1">
                    <div class="row">
                         <label class="container">Appliquer à tous les colis du lot</label>
                        <div class="form-group toggle-flip">
                        <label class="col-md-4 offset-4">
                            <input type="checkbox" class="form-control" id="value" @click="applyAll" checked>
                            <span class="flip-indecator" data-toggle-on="OUI" data-toggle-off="NON"></span>
                        </label>
                        </div>
                    </div>
                </div>
            </div>
      </div>
<div class="tile" v-for="(info, k) in infosLot" :key="k">

        <div class="form-group col-md-12 mt-3" >
            <h3 class="text-center mb-4 mt-2"><strong>Complétez les informations sur ce colis</strong></h3>

            <div>
                <div class="row mb-4">
                    <div class="form-group col-md-4">
                        <label class="text-center"><strong>Quantité</strong><span class="red">*</span></label>
                        <input class="form-control" type="number" v-model="info.Quantite">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="text-center"><strong>Détails sur le colis</strong><span class="red">*</span></label>
                        <input class="form-control" type="text" v-model="info.Detail"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="text-center"><strong>Hauteur</strong><span class="red">*</span></label>
                        <div class="input-group">
                            <input class="form-control" type="number" step="any" v-model="info.Hauteur">
                            <div class="input-group-append"><span class="input-group-text">cm</span></div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="form-group col-md-4">
                        <label class="text-center"><strong>Masse</strong><span class="red">*</span></label>
                        <div class="input-group">
                            <input class="form-control" type="number" step="any" v-model="info.Masse">
                            <div class="input-group-append"><span class="input-group-text">Kg</span></div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="text-center"><strong>Longueur</strong><span class="red">*</span></label>
                        <div class="input-group">
                            <input class="form-control" type="number" step="any" v-model="info.Longueur" >
                            <div class="input-group-append"><span class="input-group-text">cm</span></div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="text-center"><strong>Largeur</strong><span class="red">*</span></label>
                        <div class="input-group">
                            <input class="form-control" type="number" step="any" v-model="info.Largeur" >
                            <div class="input-group-append"><span class="input-group-text">cm</span></div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4" v-if="!apply">
                    <div class="form-group col-md-4 offset-2">
                        <label class="text-center"><strong>Voie de transport</strong><span class="red">*</span></label>
                        <div class="input-group">
                            <select class="form-control" id="colis" @change="listeparColis()" v-model="info.voie">
                            <option value="">Sélectionnez la voie de transport</option>
                            <option  v-for="v in voies" :key="v.id" :value="v.id">{{ v.Description }}</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="text-center"><strong>Liste</strong><span class="red">*</span></label>
                        <div class="input-group">
                            <select class="form-control" id="exampleSelect1" v-model="info.Liste">
                            <option value="">Sélectionnez la liste d'ajout de ce colis </option>
                             <option  v-for="l in listesCrees" :key="l.id" :value="l.id">{{ l.codeListe }}</option>
                        </select>
                        </div>
                    </div>

                </div>
                <div class=" form-group col-md-4 offset-4 mt-3 ">
                            <button class="btn btn-danger" type="button" @click="supprimerColis(k, info)">Retirer ce colis</button>


                        </div>

            </div>
        </div>
    </div>
</div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            id:this.$route.params.id,
            listesCrees:[],
            numero:'',
            listecode:'',
            lot:null,
            voies:[],
            apply:true,
            colisInfo:{
            },
            localisation:{

            },
            localisationExpediteur:{},
            destinataire:{
                ville:'',
                pays:''
            },
            parametresGeneraux:{
                voie:'',
                liste:'',
            },
            infosLot:
                {
                    Quantite:'',
                    Detail:'',
                    Longueur:'',
                    Largeur:'',
                    Masse:'',
                    Liste:'',
                    Voie:''

                },
                form:new Form({
                    info:null,
                    params:null,
                    parcolis:null,
                    lot:null

                }),

        }
    },
    methods:{
        detailLot(id){
            this.$router.push({path:'/detail/lot/'+this.id});
        },
        enregistrerLot(){
            if((this.parametresGeneraux['voie']=="" && this.parametresGeneraux['liste']=="")&& (this.listecode=="")){
               // console.log("han")
                Swal.fire("Erreur", "Veuillez renseigner la liste du colis", "error");

            }else{
                if(!this.parametresGeneraux['voie']=="" && !this.parametresGeneraux['liste']==""){
                        this.listecode=""
                }
                if(this.listecode){
                        this.parametresGeneraux['liste']=this.form.lot.liste_id
                }

                 this.form.info=this.infosLot
                    this.form.params=this.parametresGeneraux,
                    this.form.parcolis=this.apply,
       // console.log(this.form),

            this.form.put('/api/Enregistrement/'+this.id)
                .then((response)=>{
                        Fire.$emit('update');
                         Toast.fire({
                            icon: 'success',
                            title: 'informations mises a jour',
                        });
                    this.detailLot(this.id);


                })

            }

        },
        applyAll:function(){
            this.apply= document.getElementById("value").checked;
        },
        addColis(){
            this.infosLot.push(
                {
                    //lot:new Form({
                    Quantite:'',
                    Detail:'',
                    Taille:'',
                    Longueur:'',
                    Largeur:'',
                    Masse:'',
                //})
                }
            );
        },
            detailColis(id){
                axios.get('/api/enregistrement/'+id)
                    .then((response)=>{
                        this.colisInfo=response.data
                        this.form.lot=response.data.lot
                        this.infosLot=response.data.colis
                        this.localisation=response.data.localisation[0],
                        this.localisationExpediteur=response.data.localisationExpediteur[0]
                        this.numero= this.form.lot.numero_track

                            axios.get('/api/listeCode/'+this.form.lot.liste_id)
                                .then((response)=>{
                                    this.$data.listecode=response.data;
                                })

                    })
            },

        supprimerColis(index,lot) {

            if(index && index++){
            Swal.fire({
                        title: 'Voulez vous supprimer ce colis',
                        text:"",
                        showCancelButton: true,
                        confirmButtonText: 'Oui',
                        cancelButtonText: 'Non',
                        reverseButtons: true
            }).then((result)=>{
                console.log('yes')
                    if(result.value){
                   axios.post('/api/colisretrait/'+lot['id'])
                                .then((response)=>{
                                    var idx = this.infosLot.indexOf(lot);

                                if (idx > -1) {
                                    this.infosLot.splice(idx, 1);
                                }
                                        Swal.fire(
                                            'Supression effectué',
                                            ' ',
                                            'success'
                                        )
                                })

                    }
            })

            }

        },

        //recuperer les listes a partir de la voie choisie
        liste(value){

              var e = document.getElementById("listeSelect");
             this.value = e.options[e.selectedIndex].value;
             if(this.value){
                 axios.get('/api/voie/'+this.value)
                    .then((response)=>{
                        this.listesCrees=response.data
                    })
             }
        },

        listeparColis(){
            this.listesCrees=[];
              var e = document.getElementById("colis");
             this.value = e.options[e.selectedIndex].value;
             console.log(this.value)
             if(this.value){
                 axios.get('/api/voie/'+this.value)
                    .then((response)=>{
                        this.listesCrees=response.data,
                        this.value=null
                    })
             }
        },
    },
    created(){
        //this.voiesTransport();


      this.detailColis(this.$route.params.id);

       Fire.$on('update',() => {
              this.detailColis(this.$route.params.id);
           });
      axios.get('/api/voie')
        .then((response)=>{
            this.voies=response.data
            //console.log(response)
        })



    }

}
</script>
<style lang="css" scoped>
.icons{
    position: fixed;
    top: 20%;
    right: 0%;
    width: 300px;
    display: flex;
    flex-direction: column;
    z-index: 1;

}

.text{
    font-size: 18px;
}
.icons a{
    font-size: 10px;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    font-family: 'Oswald',sans-serif;
    margin: 0px;
    text-align: left;
    border-radius: 50px 0px 0px 50px;
    transform: translate(230px,0px);
    transition: all 0.5s
}
.icons a:hover{
     transform: translate(0px,0px);
}
.icons a i{
    margin-right:25px;
    background-color: white;
    width: 40px;
    height: 40px;
    color: black;
    text-align: center;
    line-height: 40px;
    border-radius: 50%
}
.icons a:hover i{
    transform: rotate(360deg)
}
.icons a i.fa-plus-circle{
    color: #009688;
}
.icons a i.fa-save{
    color: #6f42c1;
}

.icons a i.fa-trash{
    color:#e3342f;

}
.ajouter{
    background-color: #009688;
    color: white;
}
.enregistrer{
    background-color: #6f42c1;
    color: white;
}
.supprimer{
    background-color: #e3342f;
;
    color: white;
}

input[type='number'] {
    -moz-appearance:textfield !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}
</style>
