<template>
    <div>
         <div class="tile col-md-12 ">
            <div class="">
              <ul class="nav  nav-tabs">
                <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#envoiTab">Envoi</a></li>
                <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#commandeTab">Commandes</a></li>
                <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#listTab">Listes</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#livraisonTab">Livraison</a></li>
              </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show " id="envoiTab">
                        <h1 class="text-center">LISTE DES COLIS ENREGISTRES </h1>
                        <div class="container-fluid">
                            <div class="row">
                                <!--team-1-->
                                <div class="col-md-3" v-for="enregistrement in enregistrements" :key="enregistrement.id">
                                    <div class="our-team-main">
                                        <div class="team-front">
                                            <img src="http://placehold.it/110x110/9c27b0/fff?text=Ajout" class="img-fluid" />
                                            <h3>{{ enregistrement.expediteur.Nom }} {{ enregistrement.expediteur.Prenom }}</h3>
                                            <span style="font-size:15px;" class="badge badge-danger text-white ">Nouvel ajout</span>

                                        </div>
                                        <div class="team-back">
                                        <p><strong>Destinataire:</strong>{{ enregistrement.destinataire.Nom }} {{ enregistrement.destinataire.Prenom }}</p>
                                        <p><strong>Quantite:</strong>{{ enregistrement.lot.Quantite }}</p>
                                        <p><strong>Date d'ajout:</strong>{{ enregistrement.lot.created_at|myDate }}</p>
                                        <p><strong>Traite:</strong>{{ enregistrement.lot.traite|lotTraite }}</p>

                                        <p v-if="enregistrement.lot.statut=='enregistrement incomplet'">
                                            <span class="badge badge-warning">{{ enregistrement.lot.statut }}</span>
                                        </p>
                                        <p v-else>
                                             <span class="badge badge-info">nada</span>
                                        </p>
                                            <div class="container mt-3">

                                            <div class="row ">
                                                <div class="col-md-3 offset-1">
                                                <router-link v-bind:to="'/completeInfo/lot/'+ enregistrement.lot.id " title="completer les informations" @click.prevent="completeInfo(enregistrement.lot.id)">
                                                    <i class="fas fa-plus green"></i>
                                                </router-link>
                                            </div>
                                            |
                                           <div class="col-md-3">
                                                <router-link v-bind:to="'/detail/lot/'+enregistrement.lot.id" title="éditer ce lot" @click.prevent="detailLot(enregistrement.lot.id)">
                                                    <i class="fas fa-edit"></i>
                                                </router-link>
                                           </div>
                                            |
                                            <div class="col-md-3">
                                                <a href="#" title="supprimer ce lot">
                                                    <i class="fas fa-trash-alt red"></i>
                                                </a>
                                            </div>
                                            </div>
                                            </div>



                                        </div>

                                    </div>
                                </div>
                                <!--team-1-->



                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="commandeTab">
                   <div class="table-responsive">
                    <h2 class="text-center"> les listes de commandes</h2>

                        <table class="table">
                        <thead>
                            <tr>
                                <th>Numéro</th>
                                <th>Destinataire</th>
                                <th>Date d'envoi</th>

                                <th>Statut</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>
                                <a href="/Commande1" >
                                <i class="fas fa-edit"></i>
                                </a>
                                |
                                <a href="#">
                                <i class="fas fa-trash-alt red"></i>
                                </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="listTab">
                   <div class="table-responsive">
                    <h2 class="text-center"> les listes d'éxpeditions</h2>
                        <div class="col-md-2 offset-5 mt-4 mb-2">
                            <button class="btn btn-block btn-info" @click="newModal">Ajouter une nouvelle liste <i class="fas fa-plus"></i></button>
                        </div>
                        <table class="table">
                        <thead class="text-center">
                            <tr class="">
                                <th>Numéro</th>
                                <th>Nom Liste</th>
                                <th>Agence Arrivée</th>
                                <th>Statut</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody class="text-center">
                            <tr v-for="l in listes" :key="l.id">
                                <td>{{listes.indexOf(l)+1}}</td>
                                <td>{{l.liste.codeListe}}</td>
                                <td>{{l.localisation.Ville}}({{ l.localisation.Quartier }})</td>
                                <td>@mdo</td>
                                <td>
                                <a href="/Commande1" >
                                <i class="fas fa-eye"></i>
                                </a>
                                |
                                <a href="#">
                                <i class="fas fa-edit blue"></i>
                                </a>
                                |
                                <a href="#">
                                <i class="fas fa-trash-alt red"></i>
                                </a>

                                </td>
                            </tr>

                        </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="livraisonTab">
                   <div class="table-responsive">
                    <h2 class="text-center"> les listes de livraison</h2>

                        <table class="table">
                        <thead>
                            <tr>
                                <th>Numéro</th>
                                <th>Destinataire</th>
                                <th>Date d'envoi</th>
                                <th>Statut</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>
                                <a href="/Commande1" >
                                <i class="fas fa-eye"></i>
                                </a>
                                |
                                <a href="#">
                                <i class="fas fa-trash-alt red"></i>
                                </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="dropdown2">
                  <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
                </div>
                </div>

              </div>
            </div>
                        <!--creation d'une liste d'expedition-->
                <div class="modal fade" id="nouvelleListe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Créer une nouvelle liste</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="formulaire" @submit.prevent="createListe()">
                                    <p style="color:red" v-if="agenceError" class="text-center">L'agence de destination ne peut être  identique au vôtre</p>
                                    <p style="color:red" v-if="error500" class="text-center">Veuillez revérifier vos informations svp</p>
                                    <div class="form-group">
                                        <label for="code" class=""><strong>Code de la liste</strong></label>
                                        <input type="text" class="form-control" id="code"  v-model.lazy="$v.expeditionList.code.$model"
                                        :class="{'is-invalid':$v.expeditionList.code.$error, 'is-valid':!$v.expeditionList.code.$invalid}">

                                        <div class="invalid-feedback">
                                            <span v-if="!$v.expeditionList.code.required">Le code de la liste obligatoire..veuillez le remplir s'il vous plait</span>


                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="qte" class=""><strong>Quantité</strong></label>
                                        <input type="number" class="form-control" id="qte"  v-model.lazy="$v.expeditionList.quantite.$model"
                                        :class="{'is-invalid':$v.expeditionList.quantite.$error, 'is-valid':!$v.expeditionList.quantite.$invalid}">

                                        <div class="invalid-feedback">
                                            <span v-if="!$v.expeditionList.quantite.required">Le champ quantité est obligatoire..veuillez le remplir s'il vous plait</span>
                                            <span v-if="!$v.expeditionList.quantite.numeric">Le champ quantité doit être numérique</span>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="agence" class=""><strong>Numéro agence de destination</strong></label>
                                        <input type="number" class="form-control" id="agence"  v-model.lazy="$v.expeditionList.numero.$model"
                                        :class="{'is-invalid':$v.expeditionList.numero.$error, 'is-valid':!$v.expeditionList.numero.$invalid}">

                                        <div class="invalid-feedback">
                                            <span v-if="!$v.expeditionList.numero.required">Le numéro de l'agence est obligatoire..veuillez le remplir s'il vous plait</span>
                                            <span v-if="!$v.expeditionList.numero.numeric">Le champ numéro doit être numérique</span>

                                        </div>
                                    </div>
                                    <div>
                                        <label><strong>voie de transport</strong></label>
                                        <select name=""  class="form-control"  v-model.lazy="$v.expeditionList.voie.$model"
                                        :class="{'is-invalid':$v.expeditionList.voie.$error, 'is-valid':!$v.expeditionList.voie.$invalid}">
                                            <option value="">Sélectionnez la voie de transport</option>
                                             <option  v-for="v in voies" :key="v.id" :value="v.id">{{ v.Description }}</option>
                                        </select>


                                            <div class="invalid-feedback">
                                                <span v-if="!$v.expeditionList.voie.required">Le champ voie est obligatoire..veuillez faire une selection</span>
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" >Créer la liste</button>
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            </div>

                                </form>
                            </div>


                            </div>
                        </div>
                </div>
    </div>
</template>

<script>
import { required, minLength,maxLength,email,numeric } from 'vuelidate/lib/validators'
export default {
    data(){
        return{
            listes:[],
            enregistrements:[],
            voies:[],
            agenceError:false,
            error500:false,
             expeditionList:{
                    code:'',
                    quantite:null,
                    numero:'',
                    voie:'',
                }
        }
    },
    validations:{
        expeditionList:{
            quantite:{
                    required,
                    numeric,
                },
                code:{
                    required
                },
            voie:{
                required
            },
            numero:{
                required,
                numeric
            }
        }
    },
    methods:{

        newModal(){
            $('#formulaire')[0].reset();
            $('#nouvelleListe').modal('show');
        },
        listEnregistrements(){
            axios.get('api/Enregistrement')
            .then((response)=>{
                this.enregistrements=response.data;
            })
            .catch(()=>{

            })
        },

        Listes(){
            axios.get('api/ListEnvoi')
                .then((response)=>{
                  this.listes=response.data
                })
        },
        createListe(){
            this.error500=false;
            this.agenceError=false;
             axios.post('api/ListEnvoi',{
                 info:this.expeditionList
             })
            .then((response)=>{
               if(response.data["erreur"]){
                   this.agenceError=true;

               }else{
                   this.agenceError=false;
                   $('#nouvelleListe').modal('hide');
                   Fire.$emit('Listes');
                   Swal.fire("Ajoute", "Nouvelle liste ", "success");
               }

            })
            .catch(()=>{

                   this.error500=true

            })
        },
        completeInfo(id){
            this.$router.push({path: '/completeInfo/lot/', params: { id: id}},);
        },
         detailLot(id){
            this.$router.push({path: '/detail/lot/', params: { id: id}},);
        },

    },
    created(){
        this.Listes();
         Fire.$on('Listes',() => {
               this.Listes();
           });
        this.listEnregistrements();
         Fire.$on('colisEnregistre',() => {
               this.listEnregistrements();
           });

           axios.get('api/voie')
           .then((response)=>{
              this.voies=response.data
           })

    }
}
</script>
<style lang="css" scoped>
#envoiTab
{
	background:#009688;
    margin: 0!important;
}

.container{
    margin-left: 0%;
    margin-right: 41%!important;
}

h1
{
	color:#fff;
	margin:40px 0 60px 0;
	font-weight:300;
}

.our-team-main
{
	width:100%;
	height:auto;
	border-bottom:5px #323233 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}


.our-team-main img
{
	border-radius:50%;
	margin-bottom:20px;
	width: 90px;
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
}

.our-team-main p
{
	margin-bottom:0;
}

.team-back
{
	width:100%;
	position:absolute;
	top:0;
	left:0;
    bottom: 0;
	padding:15px 15px 0 15px;
	text-align:left;
	background:#fff;
    font-size: 18px;
    height: 89px;

}

.team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
}

.our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#777;
	transition:0.5s;
}
.row{
    margin-left:0 !important;
    margin-right: 0px;
}
input[type='number'] {
    -moz-appearance:textfield !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}


</style>
