<template>
    <div class="contain">
    <div class="tile col-md-12" >
        <div class="row">
            <div class="col-md-4 mt-1  mb-4 container">
                <img src="../assets/colis.png" alt="" class="img">
                <h2 class="green separateur mb-3">INFORMATIONS SUR CE LOT</h2>
                <div class="separateur text-center">
                    <p v-if="!complet"><strong>Statut : </strong> &nbsp;&nbsp; <span class="badge badge-danger">{{lot.statut |renseignement}}</span></p>
                <p v-else><strong>Statut : </strong> &nbsp;&nbsp; <span class="badge badge-success">{{lot.statut |renseignement}}</span></p>
                </div>
             </div>

        </div>
        <div class="row ">
             <div class="col-md-3 offset-1  ">
                        <p><strong>Pays d'expedition : </strong>  &nbsp;&nbsp;{{ localisationExpediteur.Pays }}</p>
                        <p><strong>Ville d'expedition: </strong>  &nbsp;&nbsp;{{ localisationExpediteur.Ville }}</p>


                    </div>
                    <div class="col-md-3 offset-1 ">
                        <p><strong>Pays de Destination : </strong>  &nbsp;&nbsp;{{localisation.Pays|renseignement}}</p>
                        <p><strong>Ville de destination: </strong>  &nbsp;&nbsp;{{localisation.Ville|renseignement}}</p>



                    </div>
                     <div class="col-md-3 offset-1 ">

                        <p><strong>Liste: </strong>  &nbsp;&nbsp; {{codeListe}}</p>
                        <p><strong>Nombre  de colis: </strong> &nbsp;&nbsp; {{lot.Quantite|renseignement}}</p>
                    </div>
        </div>
        <div id="carouselExampleControls" class="carousel slide spacer" data-ride="carousel" >
            <div class="carousel-inner design">
                <div class="carousel-item active " >
                    <div class="row">
                        <h2 class="text-center container spacer red"> Informations sur l'expéditeur</h2>
                        <div class="col-md-4 mt-1 ">
                             <img src="../assets/send.png" alt="image du colis" width="350px" height="340px" />
                        </div>
                        <div class="col-md-8">

                &nbsp;&nbsp;&nbsp;
                    <div class=" row">
                    <div class="col-md-5 ">
                        <p><strong>Nom :</strong>&nbsp;&nbsp;{{expediteur.Nom |renseignement}}  </p>
                        <p><strong>Prénom(s) : </strong> &nbsp;&nbsp; {{expediteur.Prenom|renseignement}}</p>
                        <p><strong>Email : </strong>  &nbsp;&nbsp; {{expediteur.Email|renseignement}}</p>
                        <p><strong>Téléphone : </strong>  &nbsp;&nbsp; {{expediteur.Telephone|renseignement}}</p>

                    </div>
                    <div class="col-md-5 ">
                        <p><strong>Continent : </strong>  &nbsp;&nbsp; {{localisationExpediteur.Continent|renseignement}}</p>
                        <p><strong> Pays: </strong> &nbsp;&nbsp; {{localisationExpediteur.Pays|renseignement}}</p>
                        <p><strong>Région: </strong>  &nbsp;&nbsp; {{localisationExpediteur.Region|renseignement}}</p>
                        <p><strong>Ville: </strong> &nbsp;&nbsp; {{localisationExpediteur.Ville|renseignement}}</p>

                    </div>

                    </div>


            </div>
                    </div>
                </div>
                 <div class="carousel-item " >
                    <div class="row">
                        <h2 class="text-center container spacer red"> Informations sur le destinataire</h2>
                        <div class="col-md-4 mt-1">
                             <img src="../assets/delivery.png" alt="image du colis" width="350px" height="340px" />
                        </div>
                        <div class="col-md-8">

                &nbsp;&nbsp;&nbsp;
                    <div class=" row">
                    <div class="col-md-5 ">
                        <p><strong>Nom :</strong>&nbsp;&nbsp; {{ destinataire.Nom }}
                        <p><strong>Prénom(s) : </strong> &nbsp;&nbsp; {{ destinataire.Prenom }}</p>
                        <p><strong>Email : </strong>  &nbsp;&nbsp;{{ destinataire.Email|renseignement }} </p>
                        <p><strong>Téléphone : </strong>  &nbsp;&nbsp; {{ destinataire.Telephone }}</p>

                    </div>
                    <div class="col-md-5 ">
                        <p><strong>Continent : </strong>  &nbsp;&nbsp; {{ localisation.Continent }}</p>
                        <p><strong> Pays: </strong> &nbsp;&nbsp; {{ localisation.Pays }}</p>
                        <p><strong>Région: </strong>  &nbsp;&nbsp;{{ localisation.Region }}</p>
                        <p><strong>Ville: </strong> &nbsp;&nbsp;{{ localisation.Ville }}</p>

                    </div>

                    </div>


            </div>
                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="row separateur">
            <div class="col-md-3  container-fluid">
                    <router-link class="btn btn-primary btn-lg btn-block"  v-bind:to="'/completeInfo/lot/'+this.id" @click.prevent="completeInfo(this.id)"><i class="fas fa-plus"></i>&nbsp;&nbsp;Ajouter les informations restantes</router-link>
            </div>
            <div class="col-md-3  container-fluid">
                    <a  class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-file-pdf"></i>&nbsp;&nbsp;Imprimer la facture</a>
            </div>
            <div class="col-md-3 offset-1 container-fluid">
                    <a class="btn btn-primary btn-lg btn-block"  @click="spinner"><i class="fas fa-ticket-alt"></i>&nbsp;&nbsp;Générer l'étiquette</a>
            </div>
        </div>

    </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                id:this.$route.params.id,
                fullPage:true,
                expediteur:{},
                destinataire:{},
                lot:{},
                localisation:{},
                localisationExpediteur:{},
                codeListe:'',
                complet:false
            }
        },

      methods:{
          completeInfo(id){
            this.$router.push({path: '/completeInfo/lot/', params: { id: id}},);
        },
         detailColis(id){
                axios.get('/api/Enregistrement/'+id)
                    .then((response)=>{

                        this.expediteur=response.data.expediteur,
                        this.localisationExpediteur=response.data.localisationExpediteur[0],
                        this.destinataire=response.data.destinataire,
                        this.lot=response.data.lot,
                        this.localisation=response.data.localisation[0]

                          axios.get('/api/listeCode/'+this.lot.liste_id)
                                .then((response)=>{
                                    this.codeListe=response.data;
                                })
                                if(this.lot.statut=="enregistrement complet"){
                                    this.complet=true
                                }

                    })
            },
        spinner(){
            /*axios.get('/api/Qrcode/'+this.id)
                .then((response)=>{
                    console.log(response);
                })*/

              this.$router.push({path:'/pdf/'+this.id});
            /*this.$loading.show({
            });*/
        }
      },
        mounted() {
            console.log('Componsant pris en compte.')
            //console.log(this.id)
           this.detailColis(this.id)
        }
    }
</script>

<style lang="css" scoped>
    .size p{
        font-size: 19px;
    }
    .separateur{
        margin-top: 5%;
        margin-bottom: 5%
    }
    img{
        width: 200px;
        height: 200px;
        margin-left: 100px;
    }

    .spacer{
        margin-top: 10px;
    }
    .contain{
        font-size: 19px;
    }
    h2{
        font-size: 28px;
    }
    .design{
        background-color: #e5e5e5;
    }
</style>
