<template>
    <div class="envoi">
         <div class="row user">
            <div class="col-md-12">
          <div class="profile">
            <div class="cover-image">

            </div>
          </div>
        </div>
        </div>

        <div class="col-md-12  tile ftco-blocks-cover-1 ">
            <div class=" styl-head container-fluid">
                    <h1 class="text-center orange"><strong>ENREGISTRER UN ENVOI DE  COLIS</strong></h1>
                </div>
            <form-wizard
                title="Veuillez fournir les informations suivantes pour l'enregistrement de colis"
                subtitle=" "
                nextButtonText="Suivant"
                backButtonText="Précédent"
                finishButtonText="Enregistrer"

                @on-complete="onComplete" shape="circle" color="green" error-color="#e74c3c">
<!------------------------------------------------------------INFORMATIONS SUR LE COLIS------------------------------------------------------------------>
                <tab-content title="Informations sur les colis"  :before-change="validSecondStep" icon="fas fa-info-circle">
                    <div class="col-md-2 offset-5 ">
                        <img src="../assets/dimensions.png" alt="" class="img">
                    </div>
                            <div class="form-group col-md-12 mt-3" v-for="(infoscolis, k) in infosColis" :key="k">
                                <h3 class="text-center mb-4 mt-2"><strong>NOUVEL ENTREGISTREMENT</strong></h3>
                                <div>
                                    <div class="row mb-4">
                                            <div class="form-group col-md-4">
                                                <label class="text-center"><strong>Quantité</strong><span class="red">*</span></label>
                                                <select class="form-control" id="exampleSelect1"  v-model="infoscolis.Quantite">
                                                    <option selected>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>

                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="text-center"><strong>Détails sur le colis</strong><span class="red">*</span></label>
                                                <input class="form-control" type="text" v-model="infoscolis.Detail" />
                                            </div>
                                            <div class="form-group col-md-4">
                                               <label class="text-center"><strong>Hauteur</strong></label>
                                                <div class="input-group">
                                                    <input class="form-control" type="number" step="any" v-model="infoscolis.Taille" >
                                                    <div class="input-group-append"><span class="input-group-text">cm</span></div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="row mt-4">
                                            <div class="form-group col-md-4">
                                               <label class="text-center"><strong>Masse</strong></label>
                                                <div class="input-group">
                                                    <input class="form-control" type="number" step="any" v-model="infoscolis.Masse" >
                                                    <div class="input-group-append"><span class="input-group-text">Kg</span></div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                               <label class="text-center"><strong>Longueur</strong></label>
                                                <div class="input-group">
                                                    <input class="form-control" type="number" step="any" v-model="infoscolis.Longueur" >
                                                    <div class="input-group-append"><span class="input-group-text">cm</span></div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                               <label class="text-center"><strong>Largeur</strong></label>
                                                <div class="input-group">
                                                    <input class="form-control" type="number" step="any" v-model="infoscolis.Largeur" >
                                                    <div class="input-group-append"><span class="input-group-text">cm</span></div>
                                                </div>
                                            </div>
                                    </div>
                                        <div class="col-md-2 offset-5 mt-4 mb-2">
                                            <button type='button' class="btn btn-danger" @click="deleteRow(k, infoscolis)">
                                                <i class="fas fa-minus-circle"></i>
                                                Retirer cet enregistrement
                                            </button>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-2">
                                <button type='button' class="btn btn-success" @click="addNewRow">
                                    <i class="fas fa-plus-circle"></i>
                                    Ajouter
                                </button>
                            </div>
                                <div class=" col-md-5 offset-3 design" v-if="erreurs.length" >
                                    <p>
                                        <b class="text-center">Veuillez corriger les erreurs suivantes:</b>
                                        <ul>
                                        <li v-for="erreur in erreurs" :key="erreur.id">{{ erreur }}</li>
                                        </ul>
                                    </p>
                                </div>
            </tab-content>
            <!------------------------------------------------------------MES INFORMATIONS------------------------------------------------------------------>
            <tab-content title="Informations sur l'expéditeur" :before-change="validFirstStep" icon="fas fa-id-card"  >

                    <div class="col-md-6 offset-3">
                        <div class="form-group">
                                    <div>
                                        <label><strong>Nom</strong></label>
                                        <input  type="text" class="form-control"  v-model.lazy="$v.expediteur.nom.$model"
                                            :class="{'is-invalid':$v.expediteur.nom.$error, 'is-valid':!$v.expediteur.nom.$invalid}"/>
                                            <div class="valid-feedback">Valide</div>
                                            <div class="invalid-feedback">
                                                <span v-if="!$v.expediteur.nom.required">Le champ nom est obligatoire..veuillez le remplir s'il vous plait</span>
                                                <span v-if="!$v.expediteur.nom.minLength">Le nom doit avoir au moins {{ $v.expediteur.nom.$params.minLength.min }} caracteres</span>
                                                <span v-if="!$v.expediteur.nom.maxLength">Le nom doit avoir au plus {{ $v.expediteur.nom.$params.maxLength.max }} caracteres</span>
                                            </div>
                                    </div>

                        </div>
                        <div class="form-group">
                            <div>
                                <label><strong> Prénom(s)</strong></label>
                                <input  type="text" class="form-control" v-model.lazy="$v.expediteur.prenom.$model"
                                    :class="{'is-invalid':$v.expediteur.prenom.$error, 'is-valid':!$v.expediteur.prenom.$invalid}"/>
                                    <div class="valid-feedback">Valide</div>
                                    <div class="invalid-feedback">
                                        <span v-if="!$v.expediteur.prenom.required">Le champ prenom est obligatoire..veuillez le remplir s'il vous plait</span>
                                        <span v-if="!$v.expediteur.prenom.minLength">Le prenom doit avoir au moins {{ $v.expediteur.prenom.$params.minLength.min }} caracteres</span>
                                        <span v-if="!$v.expediteur.prenom.maxLength">Le prenom doit avoir au plus {{ $v.expediteur.prenom.$params.maxLength.max }} caracteres</span>
                                    </div>
                            </div>

                        </div>
                        <div class="form-group" v-if="infoExist">
                            <div>
                                <label><strong>Téléphone</strong></label>
                                <input  type="tel" class="form-control"  v-model.lazy="$v.expediteur.telephone.$model" readonly
                                    :class="{'is-invalid':$v.expediteur.telephone.$error, 'is-valid':!$v.expediteur.telephone.$invalid}"
                                    />
                                    <div class="valid-feedback">Valide</div>
                                    <div class="invalid-feedback">
                                        <span v-if="!$v.expediteur.telephone.required">Le  numero de telephone est obligatoire..veuillez le remplir s'il vous plait</span>
                                        <span v-if="!$v.expediteur.telephone.numeric">Le numero doit etre uniquement des chiffres sans lettres</span>
                                        <span v-if="!$v.expediteur.telephone.minLength">Le telephone doit avoir au moins {{ $v.expediteur.telephone.$params.minLength.min }} caracteres</span>
                                        <span v-if="!$v.expediteur.telephone.maxLength">Le telephone doit avoir au plus {{ $v.expediteur.telephone.$params.maxLength.max }} caracteres</span>
                                    </div>
                            </div>

                        </div>
                        <div class="form-group" v-else>
                            <div>
                                <label><strong>Téléphone</strong></label>
                                <input  type="tel" class="form-control" placeholder="ex:9887*********" v-model.lazy="$v.expediteur.telephone.$model"
                                    :class="{'is-invalid':$v.expediteur.telephone.$error, 'is-valid':!$v.expediteur.telephone.$invalid}"
                                    />
                                    <div class="valid-feedback">Valide</div>
                                    <div class="invalid-feedback">
                                        <span v-if="!$v.expediteur.telephone.required">Le  numero de telephone est obligatoire..veuillez le remplir s'il vous plait</span>

                                        <span v-if="!$v.expediteur.telephone.minLength">Le telephone doit avoir au moins {{ $v.expediteur.telephone.$params.minLength.min }} caracteres</span>
                                        <span v-if="!$v.expediteur.telephone.maxLength">Le telephone doit avoir au plus {{ $v.expediteur.telephone.$params.maxLength.max }} caracteres</span>
                                    </div>
                            </div>

                        </div>
                    </div>
                </tab-content>

         <!------------------------------------INFORMATIONS SUR L'IDENTITE DU DESTINATAIRE------------------------------------------------------>

            <tab-content title="Informations sur le destinataire" :before-change="validThirdStep" icon="fas fa-user" class="row">
                    <div class="col-md-6 mt-3">
                            <div class="form-group ">
                                <div >
                                    <label><strong>Nom</strong><span class="red">*</span></label>
                                        <input  type="text" class="form-control"
                                            v-model.lazy="$v.destinataire.nom.$model"
                                            :class="{'is-invalid':$v.destinataire.nom.$error, 'is-valid':!$v.destinataire.nom.$invalid}"/>
                                        <div class="valid-feedback">Valide</div>
                                        <div class="invalid-feedback">
                                            <span v-if="!$v.destinataire.nom.required">Le champ nom est obligatoire..veuillez le remplir s'il vous plait</span>
                                            <span v-if="!$v.destinataire.nom.minLength">Le nom doit avoir au moins {{ $v.destinataire.nom.$params.minLength.min }} caracteres</span>
                                            <span v-if="!$v.destinataire.nom.maxLength">Le nom doit avoir au plus {{ $v.destinataire.nom.$params.maxLength.max }} caracteres</span>
                                        </div>
                                </div>

                            </div>

                        <div class="form-group">
                            <div>
                                <label><strong>Prénom(s)</strong><span class="red">*</span></label>
                                <input  type="text" class="form-control" v-model.lazy="$v.destinataire.prenom.$model"
                                    :class="{'is-invalid':$v.destinataire.prenom.$error, 'is-valid':!$v.destinataire.prenom.$invalid}"/>
                                    <div class="valid-feedback">Valide</div>
                                    <div class="invalid-feedback">
                                        <span v-if="!$v.destinataire.prenom.required">Le champ prenom est obligatoire..veuillez le remplir s'il vous plait</span>
                                        <span v-if="!$v.destinataire.prenom.minLength">Le prenom doit avoir au moins {{ $v.destinataire.prenom.$params.minLength.min }} caracteres</span>
                                        <span v-if="!$v.destinataire.prenom.maxLength">Le prenom doit avoir au plus {{ $v.destinataire.prenom.$params.maxLength.max }} caracteres</span>
                                    </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div>
                                <label><strong>Téléphone</strong><span class="red">*</span></label>
                                <input  type="number" class="form-control" v-model.lazy="$v.destinataire.telephone.$model"
                                    :class="{'is-invalid':$v.destinataire.telephone.$error, 'is-valid':!$v.destinataire.telephone.$invalid}"
                                    />
                                    <div class="valid-feedback">Valide</div>
                                    <div class="invalid-feedback">
                                        <span v-if="!$v.destinataire.telephone.required">Le  numero de telephone est obligatoire..veuillez le remplir s'il vous plait</span>
                                        <span v-if="!$v.destinataire.telephone.numeric">Le numero doit etre uniquement des chiffres sans lettres</span>
                                        <span v-if="!$v.destinataire.telephone.minLength">Le telephone doit avoir au moins {{ $v.destinataire.telephone.$params.minLength.min }} caracteres</span>
                                        <span v-if="!$v.destinataire.telephone.maxLength">Le telephone doit avoir au plus {{ $v.destinataire.telephone.$params.maxLength.max }} caracteres</span>
                                    </div>
                            </div>

                        </div>


                    </div>

                        <div class="col-md-6 mt-3">

                        <div class="form-group">
                            <div >
                                <label><strong>Numéro de la pièce d'identité</strong></label>
                                <input  type="tel" class="form-control" v-model.lazy="$v.destinataire.numero.$model"
                                    :class="{'is-invalid':$v.destinataire.numero.$error}"/>

                                <div class="invalid-feedback">
                                        <span v-if="!$v.destinataire.numero.numeric">Le numero doit etre uniquement des chiffres sans lettres</span>
                                        <span v-if="!$v.destinataire.numero.required">Ce champest obligatoire..veuillez le remplir s'il vous plait</span>
                                        <span v-if="!$v.destinataire.numero.minLength">Ce champ doit avoir au moins {{ $v.destinataire.numero.$params.minLength.min }} caracteres</span>
                                        <span v-if="!$v.destinataire.numero.maxLength">Ce champ doit avoir au plus {{ $v.destinataire.numero.$params.maxLength.max }} caracteres</span>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                                <div >
                                    <label><strong>Type de pièce</strong></label>
                                    <select name="piece"  class="form-control"  v-model.lazy="$v.destinataire.piece.$model"
                                    :class="{'is-invalid':$v.destinataire.piece.$error}">
                                        <option value>Sélectionnez le type de pièce</option>
                                        <option value="numero">Carte d'identité</option>
                                        <option value="permis">Permis de conduire</option>
                                        <option value="passport">Passport</option>

                                    </select>
                                        <div class="invalid-feedback">
                                            <span v-if="!$v.destinataire.piece.required">Le champ piece est obligatoire..veuillez faire une selection</span>
                                            <span v-if="!$v.destinataire.piece.minLength">Le champ piece doit avoir au moins {{ $v.destinataire.piece.$params.minLength.min }} caracteres</span>
                                            <span v-if="!$v.destinataire.piece.maxLength">Le champ  piece doit avoir au plus {{ $v.destinataire.piece.$params.maxLength.max }} caracteres</span>
                                        </div>
                                </div>

                        </div>
                        <div class="form-group">
                            <div>
                                <label><strong>Email</strong></label>
                                <input  type="email" class="form-control" v-model.lazy="$v.destinataire.email.$model"
                                :class="{'is-invalid':$v.destinataire.email.$error}"/>
                                        <div class="invalid-feedback">

                                            <span v-if="!$v.destinataire.email.email">Ce champ doit etre un email</span>
                                        </div>
                            </div>

                        </div>

                    </div>



            </tab-content>

         <!------------------------------------LOCALISATION DU DESTINATAIRE------------------------------------------------------>
<tab-content title="Localisation du destinataire"  :before-change=" validFourthStep" icon="fas fa-map-marker-alt" class="row">
     <div class="col-md-6 mt-3">
            <div class="form-group ">
                <div class="form-group">
                    <div>
                        <label><strong>Continent</strong></label>
                        <select name="piece"  class="form-control"  v-model.lazy="$v.localisation.Continent.$model"
                        :class="{'is-invalid':$v.localisation.Continent.$error, 'is-valid':!$v.localisation.Continent.$invalid}">
                            <option value>Sélectionnez le continent</option>
                            <option value="Afrique">Afrique</option>
                            <option value="Amerique">Amérique</option>
                            <option value="Asie">Asie</option>
                            <option value="Europe">Europe</option>
                            <option value="Oceanie">Océanie</option>

                        </select>

                            <div class="valid-feedback">Valide</div>
                            <div class="invalid-feedback">
                                <span v-if="!$v.localisation.Continent.required">Le champ Continent est obligatoire..veuillez faire une selection</span>
                            </div>
                    </div>

                                </div>

            </div>

            <div class="form-group mt-3">
                <div>
                    <label><strong>Pays</strong></label>
                    <input  type="text" class="form-control" v-model.lazy="$v.localisation.Pays.$model"
                        :class="{'is-invalid':$v.localisation.Pays.$error, 'is-valid':!$v.localisation.Pays.$invalid}"/>
                        <div class="valid-feedback">Valide</div>
                        <div class="invalid-feedback">
                            <span v-if="!$v.localisation.Pays.required">Le champ Pays est obligatoire..veuillez le remplir s'il vous plait</span>
                            <span v-if="!$v.localisation.Pays.minLength">Le Pays doit avoir au moins {{ $v.localisation.Pays.$params.minLength.min }} caracteres</span>
                        </div>
                </div>

            </div>
    </div>
    <div class="col-md-6 mt-3">
        <div class="form-group">
            <div >
                <label><strong>Région</strong></label>
                <input  type="text" class="form-control" v-model.lazy="$v.localisation.Region.$model"
                    :class="{'is-invalid':$v.localisation.Region.$error, 'is-valid':!$v.localisation.Region.$invalid}"/>
                <div class="valid-feedback">Valide</div>
                <div class="invalid-feedback">
                        <span v-if="!$v.localisation.Region.required">Ce champ est obligatoire..veuillez le remplir s'il vous plait</span>
                        <span v-if="!$v.localisation.Region.minLength">Ce champ doit avoir au moins {{ $v.localisation.Region.$params.minLength.min }} caracteres</span>
                </div>
            </div>
            <div class="form-group mt-3">
                <div>
                    <label><strong>Ville</strong></label>
                    <input  type="text" class="form-control" v-model.lazy="$v.localisation.Ville.$model"
                        :class="{'is-invalid':$v.localisation.Ville.$error, 'is-valid':!$v.localisation.Ville.$invalid}"/>
                        <div class="valid-feedback">Valide</div>
                        <div class="invalid-feedback">
                            <span v-if="!$v.localisation.Ville.required">La le champ Ville est obligatoire..veuillez le remplir s'il vous plait</span>
                            <span v-if="!$v.localisation.Ville.minLength">Le champ Ville doit avoir au moins {{ $v.localisation.Ville.$params.minLength.min }} caracteres</span>
                        </div>
                </div>

            </div>

        </div>
    </div>
</tab-content>

            </form-wizard>
          </div>
    </div>
</template>
<script>



</script>
<script>
import { required, minLength,maxLength,email,numeric } from 'vuelidate/lib/validators'


  export default {
    data(){

        return {
            //si il est a true on affiche pas le premier step

            erreurs:[],
            infoExist:null,
            expediteur:{
                nom:'',
                prenom:'',
                telephone:''
            },
            destinataire:{
                nom:'',
                prenom:'',
                telephone:'',
                numero:'',
                piece:'',
                email:''


            },
            localisation:{
                Continent:'',
                Pays:'',
                Region:'',
                Ville:''
            },
            infosColis:[{
                Quantite:'',
                Detail:'',
                Taille:'',
                Longueur:'',
                Largeur:'',
                Masse:'',
            }]
        }
    },
        validations:{
            expediteur:{
                nom:{
                    required,
                    minLength:minLength(3),
                    maxLength:maxLength(20),
                },
                prenom:{
                    required,
                    minLength:minLength(3),
                    maxLength:maxLength(25),

                },

                telephone:{
                    required,
                    minLength:minLength(8),
                    maxLength:maxLength(20)

                },
            },
            destinataire:{
                nom:{
                required,
                minLength:minLength(3),
                maxLength:maxLength(20),
                },

                telephone:{
                    required,
                    numeric,
                    minLength:minLength(8),
                    maxLength:maxLength(20)

                },
                email:{
                    email
                },
                prenom:{
                    required,
                    minLength:minLength(3),
                    maxLength:maxLength(25),

                },
                numero:{
                    numeric,
                    minLength:minLength(11),
                    maxLength:maxLength(20)

                },
                piece:{
                    minLength:minLength(4),
                    maxLength:maxLength(8)
                },

            },

            localisation:{
                Continent:{
                    required,
                    minLength:minLength(4),
                    maxLength:maxLength(8)
                },
                Ville:{
                    required,
                    minLength:minLength(2)
                },
                Pays:{
                    required,
                    minLength:minLength(4)
                },
                Region:{
                    required,
                    minLength:minLength(4)
                }
            }
        },

    mounted(){

     },

    created() {
        this.telephone();
        if(window.user){

            this.infoExist=true
        }else{

            this.infoExist=false
        }

    },

      methods: {

         addNewRow() {
            this.infosColis.push({
                Quantite:'',
                Taille: '',
                Detail: '',
                Longueur:'',
                Largeur:'',
                Masse:''

            });
        },
        telephone(){
            var tel="";
            if(window.user){
            this.expediteur.telephone=window.user.Telephone;

            }

        },
          deleteRow(index,infoscolis) {
            if(index && index++){
                var idx = this.infosColis.indexOf(infoscolis);
                console.log(idx, index);
                if (idx > -1) {
                    this.infosColis.splice(idx, 1);
                }
            }

        },
        validFirstStep:function() {
          return new Promise((resolve, reject) => {
                        if(this.$v.expediteur.$invalid){
                            resolve(false)
                        }else{
                            resolve(true)
                        }
                })
         },
        validSecondStep:function(e) {
                 this.erreurs = [];
                    for(let i=0;i<this.$data.infosColis.length;i++){
                        this.formValidation(this.$data.infosColis[i])
                    }
          return new Promise((resolve, reject) => {
              if(!window.user){
                  Swal.fire("Erreur", "Veuillez vous connecter ou creer un compte", "Error");
                  resolve(false)
              }
                    if(this.erreurs.length){
                            resolve(false)
                    }else{

                        resolve(true)
                    }



          })
         },

        validThirdStep:function() {
          return new Promise((resolve, reject) => {

                 if(this.$v.destinataire.$invalid){
                     resolve(false)
                 }else{
                  resolve(true)
                 }

          })
         },
          validFourthStep:function() {
          return new Promise((resolve, reject) => {

                 if(this.$v.localisation.$invalid){
                     resolve(false)
                 }else{
                     resolve(true)
                 }


          })
         },


         formValidation(form){

             if(!form['Quantite']){
                    this.erreurs.push('Veuillez entrer la quantité svp')
             }
              if(!form['Detail']){
                    this.erreurs.push('Veuillez donner des détails sur le colis')
             }

         },

         onComplete: function(){

             axios.post('/api/Enregistrement',{
                 expediteur:this.$data.expediteur,
                 localisation:this.$data.localisation,
                 identifiant:window.user.id,
                 destinataire:this.$data.destinataire,
                 infosColis:this.$data.infosColis,
             }).then(
                 ()=>{
                     Fire.$emit('colisEnregistre');
                    Swal.fire("Ajoute", "Votre enregistrement de colis est effectué..nous vous reviendrons bientot", "success");
                    location.reload();

             })
             .catch(
                 ()=>{
                  alert('erreur');
             }
             )


        },
       },


  }
</script>


<style lang="css" scoped>
.styl{
    color: black;
}
input,select { border: 1px solid black }
input.error,select.error { border: 1px solid red }
label{color: darkgreen}
.styl-head{
    margin-top:40px;
}
.envoi{
    z-index:1;
}

    .design{
        background:#FA8072;

    }
    .space{
        margin-bottom:14px
    }
    .border{
        border:3px border dashed;
    }
input[type='number'] {
    -moz-appearance:textfield !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}
.tile{
    color: black;
}
</style>
